[2014-06-04 00:10] crandmck opened #1 "Need access"
@raymondfeng
I'm trying to push my JSDoc changes to loopback-passport but I get this message:

ERROR: Permission to strongloop/loopback-passport.git denied to crandmck.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

Can you please give me access to this repo?

[2014-06-04 00:20] #1 closed, assigned to nobody

[2014-06-08 16:06] fabien opened #2 "passport-local needs POST route"
Currently all authPath routes are set to handle non-local callbacks using GET. However, passport-local requires a POST route to be able to post the username/password from a login form. It would be nice if passport-local was added to the example project as well.

[2014-06-25 18:37] pennycoders opened #5 "not working with passport-linkedin-oauth2 due to missing state parameter"
The passport.authorize call inside lib/passport-configurator.js should allow us to override / add properties to the options object.

[2014-06-27 15:53] #5 closed, assigned to nobody

[2014-07-14 20:14] conrad-vanl opened #8 "Ability to return access_token in JSON response instead of successRedirect"
Is it possible to return a JSON response instead of a `302` pointing to `successRedirect` on a successful user login? I am attempting to implement a login flow that utilizes https://github.com/drudge/passport-facebook-token so that we can use the native FB login on our mobile app consumers.

[2014-07-14 20:14] #8 closed, assigned to nobody

[2014-07-16 15:51] cajoy opened #9 "Loopback 1.10.0 Compability"
So I've bumped loopback to 1.10.0 and having following error:

[code]

[2014-08-11 13:56] cajoy opened #14 "Access token instead of session"
As I understand passport uses Session/Cookie for callbacks. While loopback uses AccessTokens for user validation.

Is it possible somehow to redirect using AccessToken and UserId instead of session/cookie?

Thanks

[2014-08-13 11:11] clark0x opened #15 "UserIdentity and UserCredential, why not merge into a single model?"
They have exactly the same properties, the only difference is **UserIdentity** has a **login** method to login with third party account, while **UserCredential** has a **link** method to link third party account to current user.

But that means, if I have already linked a google account, I can't use google account to login back next time. Because linked accounts store in _UserCredential_ table/col

[2014-08-13 14:08] #15 closed, assigned to nobody

[2014-08-21 03:41] ladaltamirano opened #16 "What's this? "TypeError: Cannot call method 'defineForeignKey' of null". Where should I define loopback-component-passport models? Aren't they built-in?"
What's this?

[code]

I suppose it's generated from the lines I've added to support loopback-component-passport.

[code]

Where should I define these loopback-component-passport models? Aren't they built-in?

[2014-08-23 08:24] gopidon opened #17 "How to create UserIdentity model?"
The model doesn't seem to be a built in model in loopback 2.0. Its not present in the model-config.json file along with other built-in models such as User, Role etc. I tried manually adding it to this json fileand I get the following error.

Error: Model not found: UserIdentity
    at Function.registry.getModel (/Users/.../node_modules/loopback/lib/registry.js:202:9)

[2014-08-23 16:03] #17 closed, assigned to nobody

[2014-08-26 23:41] aarononeal opened #18 "OAuth2Strategy not supported"
I don't know if this is meant to be a supported scenario but it does not appear to be possible to use the standard OAuth2Strategy out of the box because the passport-configurator does not pass through these properties:
- `authorizationURL`  URL used to obtain an authorization grant
- `tokenURL`          URL used to obtain an access token

[2014-08-27 04:55] #18 closed, assigned to nobody

[2014-08-28 19:52] gebrits opened #19 "Bug? userIdentity vs userCredentials, linking doesn't work. Detailed flow given"
on 2.1.4.

I'm not getting the difference between userIdentity and userCredentials.

What I expect on a high level is the following:
- ability to login with an account.
- if account doesn't exist create User 1 + identity A
- while still logged in to User 1 link other account --> new identity B added to existing User 1
- after logging out User 1, logging in with identity A as well as identity B sho

[2014-09-01 22:00] frankcarey opened #21 "Express-session gives "deprecated" warnings"
Looks like a couple warnings are showing up due to some changes:
[code]
http://stackoverflow.com/questions/24477035/express-4-0-express-session-with-odd-warning-message

It can be fixed by simply setting the defaults, which are currently both true:
[code]

[2014-09-06 03:25] #16 closed, assigned to nobody

[2014-09-08 17:24] epaminond opened #22 "Loopback 2.x Example"
Is there an example of third-party login with Loopback 2.x?

[2014-09-09 12:11] #22 closed, assigned to nobody

[2014-09-29 03:45] Acaspita opened #25 "Is there a way to make providers in loopback-component-passport available via API?"
Is there a way to make providers in loopback-component-passport available via API?

[2014-10-19 04:41] douglascorrea opened #26 "Example using it with AngularJS client"
Hi!
First of all, congratulations to the job you are doing with Loopback. It is just awesome.

I'm looking for using social logins + email/password in application that using AngularJS as client.

The ng-lb generator generates the login and logout for user/pass authentication, but I'm looking for extendind it to provide also Facebook, Google and Twitter authentication.

Is there any example of this

[2014-10-21 23:12] janober opened #27 "Bug when calling social login when already logged in?"
I tried to implement the social login stuff today in combination with angular. So I was following mainly this document:
http://docs.strongloop.com/display/LB/Third-party+login
And that example:
https://github.com/strongloop/loopback-example-passport

It seems to work now fine. However when I visit the facebook login-link while I am already logged in I get the following error message and then the p

[2014-12-13 01:17] dstroot opened #30 "How to make passport local auth work with loopback verify functionality?"
I'd like users to validate their emails when signing up.  However the passport local auth never seems to invoke `user.login` which is the function that actually checks if a user is verified.  I'm stumped...

see: https://github.com/strongloop/loopback-faq-user-management/issues/6

[2014-12-28 16:31] aol-nnov opened #31 "dimension of accessToken.ttl [sec] differs from res.cookie maxAge [msec]"
While accessToken model has the following defaults
[code]
Which, to my understanding, means that loopback internals expect ttl to be in seconds, while res.cookie expects maxAge param to be in milliseconds (http://expressjs.com/4x/api.html#res.cookie).
After that I have my session expire in something 20 minutes instead of two weeks due to the following code in loopback-component-passport: (https://

[2015-01-02 06:31] csvan commented on #30
I ran into a similar problem when trying to get this component to work with the Angular SDK. The problem, as you correctly point out, is that the User.login() function is never invoked when using the local strategy, and hence no validation is carried out, and (importantly for the Angular SDK), no access token is ever generated.

I have currently hacked the component for our internal work, I hope t

[2015-01-02 17:36] dstroot commented on #30
Thanks for letting me know!  Hope to see the PR.

[2015-01-09 17:09] csvan commented on #30
https://github.com/strongloop/loopback-component-passport/pull/32

[2015-01-19 16:59] britztopher commented on #30
Actually if you set your 'setAccessToken' flag in your providers.json file like so, it will use the User.login   function like so

   "local": {
    "provider": "local",
    "module": "passport-local",
    "usernameField": "email",
    "passwordField": "password",
    "authPath": "/auth/local",
    "successRedirect": "/auth/account",
    "failureRedirect": "/login",
    "setAccessToken": true
  },

[2015-01-19 17:10] britztopher opened #34 "setAccessToken has hardcoded username for login function"
I was looking at the switch statement in passport-configurator.js file starting on line 177, and it appears that if you set a flag in your providers.json file for `"setAccessToken" : true` the statement will use the login function attached to the User model.  like so:

[code]
This is great, however, most applications use email as the person's username.  Is there a way around this, or do I have to

[2015-01-19 17:22] raymondfeng commented on #34
I wonder if we should enhance the User.login so that it can support a property such as `usernameOrEmail`. @ritch ?

[2015-01-19 17:38] britztopher commented on #34
@raymondfeng
well right now the workaround is this
[code]
so I am guessing that user.login takes email and username already.

[2015-01-19 17:44] britztopher commented on #34
Also I am wondering why the access_token isnt sent as a cookie in the response header for auth/local even if the setAccessToken flag is set in providers.json file.  Dont you need an access token to make subsequent authorized calls after logging in?

[2015-01-19 18:03] dstroot commented on #30
I think the pull request above your comment is the one that added "setAccessToken": true

Shame that username is hardcoded as I also use email as the user id.

[2015-01-19 18:30] britztopher commented on #30
@dstroot I just added a ticket to see if we can do something about it found here #34

[2015-01-19 18:43] dstroot commented on #30
@britztopher - great!  Thanks for that.

[2015-01-20 13:45] #34 closed

[2015-01-22 14:36] britztopher opened #37 "userProfile not being Created in UserIdentity Collection upon Local Login"
It appears that the access_token is being created in local strategy, however, there when logging in using the local strategy the user profile that is created on line 196 in `passport-configurator.js`:

[code]

is never saved to database, which for me, is a mongo collection.  I say this because when I try to get the `req.user` I dont get back the profile for the user, which contains the access toke

[2015-01-22 16:26] raymondfeng commented on #37
For local login as the user profile is already in the User DB, it makes sense not to save the user profile. We can add the code to store the access_token in cookie though as other schemes does.

[2015-01-22 17:48] britztopher commented on #37
@raymondfeng, why do you create the json object if there is no reason for storing it?  Also, wouldnt it be beneficial to create a user structure that is consistent with other social accounts.  For example, my profile picture url now will have to be saved in both local and social if I were to login using both strategies then do a check on the client for which one to use.

AccessToken would be a gre

[2015-02-06 00:22] raymondfeng commented on #31
Can you submit a patch to fix https://github.com/strongloop/loopback-component-passport/blob/master/lib/passport-configurator.js#L372?

[2015-02-06 00:24] #30 closed

[2015-02-10 17:29] #2 closed

[2015-02-14 01:31] SebastianMetzger opened #40 "ctx.req object inside loopback beforeRemote function not authenticated"
Afer I log in with facebook via loopback-component-passport 1.1.2, Loopback itself seems not to get the correct requests forwarded:
[code]
In server.js for this call isAuthenticated correctly returns true:
[code]

Any hints on what could be the problem here? Maybe some initialization order I am missing?

[2015-02-15 15:59] SebastianMetzger commented on #40
I believe I just solved the issue ...

In server.js the examples call the loopback 'boot' functions before passport is initialized, if you change the order to the following, the requests inside loopback are also authenticated:

[code]

I also had to move the cookieParser midleware with the boot function to make this work.

[2015-02-15 16:49] SebastianMetzger commented on #40
Another addition:
Changing the initialization order enabled me to access the user object from inside loopback, but it is not caught, when setting up acl rules for the models

[2015-02-15 16:52] raymondfeng commented on #40
Is your app based on https://github.com/strongloop/loopback-example-passport? If so, we should consider to upgrade the app using `phase` to order the middleware as described http://docs.strongloop.com/display/LB/Defining+middleware.

[2015-02-16 13:45] wallance commented on #19
@raymondfeng I too, am very confused on the differences between the UserIdentity and User Credential model.  From a design perspective, why would you have two separate models, if there is no difference in the properties/fields that they have?

[2015-02-16 15:31] SebastianMetzger commented on #40
Yes we took that example as a blueprint

[2015-02-21 11:51] th3m477 commented on #19
Another +1 for confusion on this subject. The comments from gebrits and raymondfeng highlight a key difference in how "linked" accounts are interpreted. Before reading this post I was siding with gebrits, because the use-case (to me) is "linking MY accounts", not "linking OTHERS accounts".

Do you ever have more than one userIdentity in this architecture? The answer seems to be "no" which means i'

[2015-03-01 08:51] BerkeleyTrue opened #41 "get profile information in new style hooks"
I am trying to build a base profile out using loopbacks new hook syntax. It seems that using the `before save` method does not expose the data user creation using this component. Is it possible to get that information directly on the hook?

cc @QuincyLarson @terakilobyte

[2015-03-04 12:56] didikeke commented on #19
Confused +1.

Common cases should be a user can use the local account / a google account(may be two google accounts) / a twitter account / a facebook account to login into the same account for the website.

But the UserCredential logic is confused.

[2015-03-08 15:04] didikeke commented on #31
For this issue, @aol-nnov is right.

Change codes in https://github.com/strongloop/loopback-component-passport/blob/master/lib/passport-configurator.js to
[code]
will be fix it.

I am not sure what is @qazs 's pull requests meaning.

[2015-03-08 16:23] aol-nnov commented on #31
@raymondfeng sorry for being idle on this issue - been way too busy lately. It was not clear for me what actually needs to be fixed: the code (as @didikeke proposed) by multiplying ttl value by 1000 or just the documentation strings (that input parameter should be in millis)

If no loopback internals expect ttl to be in milliseconds, I'd opt to @didikeke's approach. Otherwise, I vote for fixing th

[2015-03-08 16:34] didikeke commented on #31
From https://github.com/strongloop/loopback/blob/master/common/models/user.js#L23

the TTL is seconds.

[2015-03-08 17:07] #31 closed

[2015-03-19 03:13] qazs opened #45 "Error when logging in using passport-local"
Hi,

I keep getting this error when logging in with the correct username but wrong password:
[code]
This is what's causing the error:
https://github.com/strongloop/loopback-component-passport/blob/master/lib/passport-configurator.js#L228

I believe changing to this will fix this issue:
[code]

[2015-03-25 10:41] francois-montmasson-efg opened #47 "Unify results of successful execution of providers"
Depending of providers system do not offer the same results.

oauth 1/2 and openid return cookies (i.e. acces_token and user_id) whereas local just provides nothing by default and require activation of express session.

will it be possible that local also provide cookies on successfull login.

[2015-03-25 11:04] francois-montmasson-efg opened #48 "supporting passport-http could be hassle free authentication for local users"
at the moment support of local provider is the most complex to integrate compare to oauth and openID.

adding support of passport-http could be an hassle free authentication for local user.

[2015-03-27 13:20] thovden opened #49 "Support for extended User models"
loopback-component-passport does not work with extended User models - i.e.,
`common/models/user.json`

[code]

This is due to hardcoded references to User in `user-credential.json` and `user-identity.json` models - i.e.,

[code]

[2015-03-31 12:31] PuKoren opened #51 "grant_type client_credentials: req.authInfo.user is filled with first User"
When I log into loopback with oauth2 and using client_credentials type, the req.authInfo.user is always filled with the first inserted user in DB.
Since the first user is admin, that were causing all my apps logging in to be admin (I was using register resolver for ACL based on the user email).

Using loopback 2.14 and loopback-component-oauth2 1.0

[2015-04-06 11:39] Darkeye9 opened #52 "Configurable cookie path"
Hello!

As I have my app installed on a subdirectory, It would be very helpful to have an option to set the desired path for the cookies. Because using Angular on the client side I cannot manage them correctly.

I can code a PR to support it, but I would like to know which approach is better.
1. Set the cookie path in the providers.json file, for each strategy (not so good)
2. Guess the correct pa

[2015-04-17 08:23] francois-montmasson-efg opened #55 "Open ID smart authentication only work on single loop server (i.e. neither multi thread nor multi server)"
At the moment the OpenID integration do not configure passport-opend#saveAssociation in order to store association information (i.e. diffie hellman negotiated secret) in DB.
Consequently Open ID does not work in cluster environment since association are stored per loop only (c.f. opendid#_associations).
Using smart mode in cluster env becomes counterproductive!

[2015-04-18 20:07] ccgdesigns opened #56 "No access token stored in angular client when logging in with Third Party"
Just spent quite a while getting authorization to work for REST requests in my angular app, kept getting 401 Unauthorized.

Essentially, because logging in using facebook (twitter etc.) just involves sending the browser to /auth/facebook and lets passport handle the rest. LoopBackAuth is never configured because User.login() is never called (as it would be with a login form), so none of the reques

[2015-04-23 09:25] Gouthamve opened #57 "accessToken cookie not being set for local-login"
I was trying to use make an authenticated api call after logging in using the passport-local. But the accessToken signed cookie is not being set for local.

When I login through Fb, I get a signed cookie with accessToken but that is not happening for local. I have added the following option to providers.json for local but still the cookie is not being set.

[code]

Steps to reproduce:
Clone the `l

[2015-04-23 09:35] Gouthamve opened #58 "Docs for customCallback"
I saw that there is an option of specifying custom callback but there is no reference in the docs.

Also I see that it has to specified in the providers.json but how do I specify a function in JSON?

[2015-04-24 21:04] OwenBrotherwood commented on #58
@Gouthamve custom callback was introduced with the support of LDAP https://github.com/strongloop/loopback-component-passport/pull/44
Documentation is being discussed https://github.com/strongloop/loopback-example-passport/issues/12#issuecomment-96062269 but with reference to the providers.json.
I had forgot the extra custom callback that was introduced so it is good you created the issue.

[2015-05-06 16:32] JulienCabanes commented on #57
Same problem here :(

[2015-05-06 17:37] JulienCabanes commented on #57
I figured out what's going wrong and how to get around:
- Local auth does generate an accessToken but it doesn't set the cookies accordingly as it does with facebook auth. The workaround is to get the last accessToken and set the cookies by hand inside the success callback.
[code]
- There's also an issue with the local signup where `req.login()` does not generate any accessToken at all, the workar

[2015-05-08 10:32] javefang opened #59 "AccessToken and cookie TTL mismatch"
Affecting version 1.3.0

It's the same issue as the one that has been raised by aol-nnov before.
https://github.com/strongloop/loopback-component-passport/issues/31

The issue has been fixed by aol-nnov's pull request #31, commit 893d0c,
https://github.com/strongloop/loopback-component-passport/commit/893d0c92c9ec18e79b375c5b790cdb17bbd7769c

but the fix has been removed in a later commit 6989f8 (

[2015-05-08 15:30] raymondfeng commented on #59
Good catch. Fixed by https://github.com/strongloop/loopback-component-passport/commit/a307f2f400105ae3c2f191ea2f99a5c3de6d118b

[2015-05-08 15:30] #59 closed

[2015-05-12 16:33] OwenBrotherwood commented on #14
+1 interesting

[2015-05-12 21:01] asanchezdelc commented on #14
+1

[2015-05-18 07:08] transedward opened #60 "stay at current page after login"
When I walk through example and document,
Seems currently we only have the option to set successRedirect in providers.json statically,
Do u have support for dynamic successRedirect url in the future?
ex: stay at same page when user submit ted login

or already have it but I missed.
Thanks for any answer and suggestion

[2015-05-18 16:49] gianko commented on #19
I'm trying to just use the UserIdentity (even when linking accounts)

so, I changed the "self.userCredentialModel.link(..)" to "self.userIdentityModel.link(...)" in passport-configurator.js

then I modified the user-identity.js like this: https://gist.github.com/gianko/5cf97faa88d9134c856e (lines 64-104)

But it's not working... i really REALLY new to node, sorry

[2015-05-18 21:48] peterwilli opened #61 "Using context to get current user doesnt work"
Hi,

I wanted to get the current user in a remote method. I'm using passport for login right now (mostly copied from example)

I came across contexts: http://docs.strongloop.com/display/RU/Using+current+context
But I cant seem to make passport and contexts work nicely together :(
When calling the method, the error I get is this:

`loopback.token() middleware requires a AccessToken model`

Everythi

[2015-05-18 22:09] raymondfeng commented on #61
There is a typo in your code:
[code]
should be:
[code]

[2015-05-18 22:11] peterwilli commented on #61
@raymondfeng  yeah spotted that (wasnt in the actual code) example should be fixed by now - still the same problem :(. I also tried making an empty project but same thing.

[2015-05-18 22:48] peterwilli commented on #61
#UPDATE I GOT IT WORKING!
Way to wrecked right now, will update tomorrow for others with the same issue..

[2015-05-19 08:22] peterwilli commented on #61
So the issue was pretty well hidden but I found out after all. And when I did it made much more sense.
The problem is that for loopback.token to work with passport you need to pass on the custom access-token model.

I first did that using a string which didnt seem to work.

Now I do it like this:

    app.use(loopback.context())
    app.use(loopback.token(
      model: app.models.accessToken
    )

[2015-05-19 08:22] #61 closed

[2015-05-21 07:39] transedward opened #62 "How can I get access_token after social login?"
I am new to loopback
Looking through the doc, After local User.login()
I can get access_token through local login (http://docs.strongloop.com/display/public/LB/Logging+in+users)
but seems loopback-passport does all the thing for me, how can I still get access_token after social login

I am building a app needing all the user-identity and only using social login, I think I can get all the identity

[2015-05-21 13:05] transedward commented on #62
https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie

[2015-05-21 13:05] #62 closed

[2015-05-27 10:17] transedward opened #63 "how can I know that before loopback-component-passport login or create?"
for example: if I wanna do something after loopback-component-passport create the user,
and do other thing before the user login
I thought I can use [remote hooks](http://docs.strongloop.com/display/public/LB/Remote+hooks#Remotehooks-Contextobject) to get the timing I want.
like:

[code]

I found out it didn't work.

so I use [operation hook](http://docs.strongloop.com/display/public/LB/Operation+

[2015-06-01 02:03] bryannaegele commented on #57
Thank you, thank you @JulienCabanes. This was driving me insane.

I added the following to a boot script as a modification to user.

[code]

[2015-06-01 08:19] AlmaasAre commented on #60
This would be awesome to have. Dynamic successredirect is really useful when the client and API is totally disconnected.

My preferred flow for facebook-auth would be to pass a returnURL in a query param from the client.

[2015-06-03 06:15] mailuser41 commented on #63
bump

[2015-06-03 17:39] ciulhycutza opened #64 "Middleware error"
Hi.
I'm very new to loopback. I tried to implement passport.js but I'm getting this error.

[code]

server.js
[code]

routes.js
[code]

middleware.json
[code]

Can anybody tell me what's wrong?

Thank you.

[2015-06-03 17:56] raymondfeng commented on #64
You probably call the following line too late:

passportConfigurator.init();

[2015-06-03 18:08] ciulhycutza commented on #64
It works. I had to call it before boot function.
Thank you very much.

[2015-06-04 13:13] Gouthamve opened #65 "Cannot do Access Control with third-party login"
AFAIK, You cannot do any access-control when using third party

**Reason:**
When a new account is created through Fb (or any other oAuth), you are creating a user with a random password, and as a result, losing the ability to login (because you don't know the password).
And when we are logging in the user, we are doing a db query and setting the req.user with the query results.

So as we are not l

[2015-06-04 22:31] BerkeleyTrue opened #66 "Cannot set user without email"
Most of our users use twitter to login. Twitter does not return emails so we have had it optional in our past setup.

Currently switching to loopback and running into this modul erring when userObj.email is null (which is our default, a lot of our system depends on this so it is not possible to change it).

Would a PR be accepted to add a flag to make email optional?
[here](https://github.com/stro

[2015-06-05 21:22] sebarth commented on #65
I have the same issue. For now this plugin is completely useless : / . I don't need a link or something similar. People should be able to login via passport and access restricted user content after logging in.

[2015-06-06 04:41] Gouthamve commented on #66
The problem is User model itself has the email field as required. The user model from swagger interface is given below.

[code]

[2015-06-06 04:50] BerkeleyTrue commented on #66
That is a separate issue that belongs to loopback actual. The problem here is that this module always adds a faux email. Our current setup requires an empty field instead. It is not possible currently.

I believe user model in loopback can be overwritten.

[2015-06-06 08:24] gmxu opened #68 "Extended userIdentity and userCredential not overwriting UserIdentity and UserCredential"
I'm implementing Passport in my own project by following the loopback-example-passport project, however, when I create my own models for userIdentity and userCredetial and have them extend UserIdentity and UserCredential, models for all four are created in the datasource.

However, using the example project only the models for the extended models are created. Any idea why UserIdentity and UserCred

[2015-06-06 08:57] gmxu commented on #68
Reverting to 1.0.6 of loopback-component-passport fixes it for me in my project, however, the loopback-example-passport project does not experience this despite using the newest version of loopback-component-passport.

[2015-06-06 10:27] gmxu commented on #68
Removing the 'loopback-component-passport source' from (https://github.com/strongloop/loopback-example-passport/blob/fca1d7d6b16e39262d0c6b8ca442bea8d2d7318b/server/model-config.json) fixes it for me. The source doesn't appear to be pointing to the correct directory anyways, but when I added it to my project, it was the correct directory and thus was causing these problems.

The userIdentity and u

[2015-06-06 10:28] #68 closed

[2015-06-09 08:24] gausie commented on #64
I also have this problem. However, I need to call it after the boot function so that the config is loaded into `app` (so I can do things like `app.get('sessionSecret')`)

[2015-06-10 14:17] gausie opened #69 "Can this be enabled using middleware.json?"
Would be nice to see an example!

[2015-06-17 07:13] aiampogi commented on #14
+1 very nice idea to make it built-in

[2015-06-17 18:12] #66 closed

[2015-06-22 21:09] vburghelea commented on #63
+1 I'm also trying to figure out how I can hook into the create account / login process so I can extract Facebook profile information and do some processing.

[2015-06-28 14:11] adnanshatil commented on #57
It works fine for me during login ... but not in logout

This is because __app.models.user.afterRemote__ method's callback function ...
__context.result__ always returns null. as a result __res.clearCookie__ fails.

How can I solve this?

[2015-07-01 12:02] sajmons opened #73 "Version 1.5.0 stopped working"
Raymond Feng: In change log for 1.5.0 version you stated: "Make sure passport is registered with session phase" but unfortunately I don't know how to do that. Is there any example available?

Best regards,
Simon Šander

[2015-07-08 06:48] gianko commented on #64
I have a problem when using:

<pre>
app.middleware('auth', loopback.token({
  model: app.models.AccessToken
}));
</pre>

Then context.active gets empty in:
<pre>
var context = loopback.getCurrentContext();
</pre>

[2015-07-21 11:13] pongstr opened #74 "Add an option to customize cookie settings after log in."
Hello there, I was wondering if there's any way to customize the [Cookie Settings](https://github.com/strongloop/loopback-component-passport/blob/master/lib/passport-configurator.js#L437-L446) after log in? I tried to customize this via `app.session` so I can use these cookies to sub domain (e.g., `*.mydomain.com`), but after login the `access_token` and `userId` cookies is set to `mydomain.com`.

[2015-07-21 21:20] doublemarked commented on #65
This is not the case. Let me explain the auth workflow we use, which may help you understand how to work with 3rd party auth:

1. User's browser initiates auth, is redirected to auth provider, and then is returned to the success callback URL.
2. API code receives evidence of auth and find or creates the user in the database.
3. API code creates an AuthToken for this new user session.
4. AuthToken

[2015-07-21 21:23] raymondfeng commented on #65
@doublemarked Thank you for the explanation. That's the exactly the workflow supported by this component.

[2015-07-21 21:40] acao commented on #65
Indeed, that was super helpful and saved my day.

For more details, the documentation for this component is pretty thorough:

http://docs.strongloop.com/pages/releaseview.action?pageId=3836277#Third-partylogin(Passport)-Loginandaccountlinking

[2015-07-28 11:27] gausie commented on #57
I am currently not using sessions and would ideally like the accessToken to be appended to the success callback route in some way (in req.authInfo for example). Is that possible?

[2015-08-04 20:27] BerkeleyTrue commented on #73
@sajmons There was a breaking change from 1.4.0 to 1.5.0. This module now makes use of Loopback Middleware Phases http://docs.strongloop.com/display/public/LB/Defining+middleware I just finished the process [here](https://github.com/FreeCodeCamp/freecodecamp/tree/staging/server) if you want to see an example.

You will need to adapt your app to use this format in order to continue moving forward w

[2015-08-04 20:28] BerkeleyTrue commented on #69
Now it is enabled by default in `session:after` phase in 1.5.0. [here](https://github.com/FreeCodeCamp/freecodecamp/tree/staging/server) is an example I just completed moving over to use phases.

[2015-08-04 20:36] raymondfeng commented on #69
See https://github.com/strongloop/loopback-example-passport too.

[2015-08-04 20:36] #69 closed

[2015-08-04 20:42] raymondfeng commented on #73
An example at https://github.com/strongloop/loopback-example-passport

[2015-08-04 20:43] raymondfeng commented on #73
@BerkeleyTrue Good catch. I'll look into it.

[2015-08-05 05:39] sajmons commented on #73
What about Microsoft Active Directory ms-ad example? I see that it's left out from every example.

[2015-08-06 07:11] sajmons commented on #73
I have taken new code from server.js 1.5.0 and it worked! Thnx!

[2015-08-06 21:57] pongstr commented on #74
Resolved with f5774312ceb59df92424bf13201ac1fa43956252 #75

[2015-08-06 21:57] #74 closed

[2015-08-12 19:50] BerkeleyTrue opened #79 "expose generateKey function at the top level"
We use a specific profileToUser function which is similar to the one given here minus a few details. Because of this we have to dig into the module to get the generateKey function. It would be awesome to expose this to allow others to use it in a similar fashion.

[2015-08-12 22:20] superkhau commented on #73
@sajmons I assume your issue is resolved. Is this good to close?

[2015-08-12 22:24] superkhau commented on #65
@raymondfeng Is there anything to fix here? I'm reassigning to you to complete the triage as you're already commenting on this issue.

[2015-08-12 22:25] BerkeleyTrue commented on #73
The issue that 1.5.0 introduced breaking changes still exist. It forces users to either introduce loopback middleware phases or stick to 1.4.0

[2015-08-12 22:26] superkhau commented on #64
@gausie Doing it after boot makes sense if you want to make sure the default LB ocnfigs are loaded first.
@gausie Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

Closing as this is resolved by @raymondfeng.

[2015-08-12 22:26] #64 closed

[2015-08-12 22:32] superkhau commented on #63
@bajtos @raymondfeng @ritch I'm not sure about this one. Do you guys know?

[2015-08-12 22:33] superkhau commented on #60
Already merged. Closing.

[2015-08-12 22:33] #60 closed

[2015-08-12 22:39] superkhau commented on #73
@BerkeleyTrue TY, escalating to `bug` status.

@raymondfeng Reassigning to you for further instructions.

[2015-08-12 22:48] superkhau commented on #57
@bajtos @raymondfeng @ritch I'm not sure about this one, PTAL.

[2015-08-12 22:53] superkhau commented on #56
@raymondfeng Is the process described by the user the recommended way of doing it?

@crandmck May need to update docs according to @raymondfeng's recommendations.

[2015-08-12 22:55] superkhau commented on #52
@raymondfeng Which strategy is recommended?

@Darkeye9 Please feel free to submit a PR.

[2015-08-12 22:56] superkhau commented on #51
Can you provide a link to a test project on Github? See https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-08-12 23:01] superkhau commented on #45
Would you like to submit a pull request?

[2015-08-12 23:02] superkhau commented on #41
Are you still running into this issue? Would you like to submit a PR?

[2015-08-12 23:03] superkhau commented on #40
@SebastianMetzger Is this resolved? Can I close this?

[2015-08-12 23:05] superkhau commented on #27
@janober Is this good to close? Are you still running into issues?

[2015-08-12 23:07] janober commented on #27
Ah sorry yes. Closed...

[2015-08-12 23:07] #27 closed

[2015-08-12 23:08] superkhau commented on #26
Have you guys tried https://github.com/strongloop/loopback-example-passport

@douglascorrea Is this good to close? Are you still running into issues?

[2015-08-12 23:10] douglascorrea commented on #26
ok, we can close it

[2015-08-12 23:15] BerkeleyTrue commented on #41
Not sure how we got around this so I'm closing.

[2015-08-12 23:15] #41 closed

[2015-08-12 23:25] superkhau commented on #25
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-08-12 23:25] #25 closed

[2015-08-12 23:26] superkhau commented on #21
@frankcarey Would you like to submit a PR?

[2015-08-12 23:27] superkhau commented on #19
@gebrits Are you still running into issues? Is this good to close?

[2015-08-12 23:28] superkhau commented on #9
@cajoy Is this good to close? Are you still running into issues?

[2015-08-13 00:18] BerkeleyTrue opened #80 "Feature: Multi-Auth login"
I'm having to overwrite a bunch of login logic because we need our users to be able to login through multiple auths without creating a new account.

At the moment user credentials is useless to us and it doesn't make sense for it to control the linking logic. We overwrite the link function and provide our own that has userIdentity as its context. That solved some of our issues but introduced other

[2015-08-13 05:15] sajmons commented on #73
I have switched to middleware solution but as Berkeley mentioned it is
a *breaking
change*.

2015-08-13 0:39 GMT+02:00 Simon Ho <notifications@github.com>:

--
lp,
Simon

[2015-08-13 11:55] jamesjjk commented on #57
+1 local login is not setting cookie for accesstoken or returning token req.accessToken. Does not allow for local-login to be used.

[2015-08-13 14:00] cajoy commented on #9
Ready to close now. :)

[2015-08-13 14:00] #9 closed

[2015-08-13 19:47] onel0p3z commented on #19
@superkhau not sure if this is an issue. It's more like unexpected strange behavior and unexpected results from assumptions. This topic is still a great source of problems/confusion for new loopback users and makes advanced users create ways around it. Hope this does not go unnoticed and maybe changed.

[2015-08-13 21:10] superkhau commented on #19
@onel0p3z Nah, I'm just cleaning up old issues. Thanks for the response, I will mark this as a discussion topic and take it out of triage status.

[2015-08-13 23:06] crandmck commented on #56
I'm happy to add to the docs.  Just waiting for confirmation and/or clarification from @raymondfeng .

[2015-08-17 03:20] PhuongNL commented on #57
Same problem, i dont know how to get access token when use passport local.

[2015-08-17 04:28] PhuongNL commented on #57
I found the solution, **install cookie-parser**, add this line to server.js: **app.middleware('session:before', loopback.cookieParser(app.get('cookieSecret')));**.
 after **successRedirect** to **"/auth/account"**, in this router u can get accesstoken by **req.cookies.accessToken**.

[2015-08-17 13:18] jamesjjk commented on #57
@PhuongNL but the cookie is not set client side. There is a problem with the callback for passport local

[2015-08-18 07:42] PhuongNL commented on #57
@jamesjjk yes, we need other solution.

[2015-08-21 01:58] bachirelkhoury opened #83 "How to handle Facebook login via mobile SDK on iOS and Android"
I couldn't find this anywhere so could be a feature request.

Is there any way to handle authentication and linking on mobile,
when we are authenticating using the Facebook SDK?

any direction would be really appreciated.

PS: Without any hacks or loading a webview to handle OAuth etc...

thanks

[2015-08-26 07:17] justinlindh opened #84 "Google OAuth + Postgresql fails due to insufficient field size"
Using this component, alongside the passport-google-oauth module with a Postgresql datastore fails with the following error:
[code]
Using memory datastore succeeds.

I've narrowed it down to the UserIdentity model. It's likely the "profile" field, which is of type "Object" in the model and apparently creates a postgresql column of type: character varying(1024)

As such, I don't know whether this i

[2015-08-26 07:30] justinlindh commented on #84
The following may solve the issue (I've only tested that it's writing to the db correctly, haven't gotten far enough into my implementation to see whether there's problems downstream with this):

user-identity.json
[code]

[2015-08-31 13:15] vishaloban opened #85 "I unable to run this example"
hello sir, can you provide a simple passport exp for facebook login ???

[2015-08-31 16:27] raymondfeng commented on #85
Did you try https://github.com/strongloop/loopback-example-passport?

[2015-08-31 16:27] #85 closed

[2015-09-02 04:48] lemoncola commented on #83
+1

[2015-09-05 23:16] eugenehp commented on #26
@douglascorrea it still not working with the angular directly, so I think this should be re-opened.

[2015-09-05 23:21] eugenehp commented on #26
for example

[code]

there is an issue on how the passport module passes cookies to the response

[2015-09-05 23:31] eugenehp commented on #26
https://gist.github.com/eugenehp/e45537b73d58db33cd80

[2015-09-14 12:05] DuyHung21 commented on #56
@crandmck I'm having the same problem
And I'm new with this,too
Could you show me how to fix it

[2015-09-14 16:46] raymondfeng commented on #56
Now we have multiple ways to receive an access token representing granted permissions.

1. User.login
2. Third-party login
3. oAuth2 flows

I have started to think about how to unify/federate the different schemes. It probably boils down to a few separate concerns:

1. Authentication (verify credentials to establish a subject)
2. Manage identities, such as user/app/device
3. Access token provision

[2015-09-17 00:00] gshireesh commented on #57
i added the following change and it is working for me now.

https://github.com/strongloop/loopback-component-passport/compare/master...gshireesh:master

then add <code>"forceDefaultcallback" : true </code> to the  providers.json

the logout code will be
[code]

Hope it works for you too  :)

[2015-09-25 08:21] wenwei1202 opened #89 "BUG:passport-configurator.js: defaultCallback has incorrect params for passport.authenticate"
/lib/passport-configurator.js
function: defaultCallback  line:423

the third param is a function with params 'req', 'res' which will be called when authentication succeeds, should like below:
[code]
but in defaultCallback:
[code]
I think the callback 'function(err, user, info)' doesn't really work

[2015-09-25 22:26] mhamann opened #90 "Support overriding authorizationURL on request-by-request basis"
I have a need in an `openid connect` flow to support a differing authorizationURL based on some information about how the user arrived at my app. I know this is a niche use case, but it would be nice if this module could support it. I can achieve this functionality with the standard `passport` library by simply extending the existing OAuth2.0 strategy with a small bit of extra logic. However, I do

[2015-09-25 22:36] raymondfeng commented on #90
Did you look at https://github.com/strongloop/loopback-component-passport/blob/master/lib/passport-configurator.js#L368?

[2015-09-26 01:19] mhamann commented on #90
@raymondfeng thanks for the link. I have seen that, and am using it.

My need is actually here (apologies if that wasn't clear from the original description): https://github.com/strongloop/loopback-component-passport/blob/master/lib/passport-configurator.js#L510-L513

I want to be able to pass in extra properties via the object sent to `passport.authenticate`.

[2015-09-28 00:05] codeyad commented on #63
Can someone please help with this issue?, im trying to look a way to do it, @bajtos @raymondfeng @ritch could you please look at this?

[2015-09-28 08:24] bajtos commented on #63
I am personally not familiar with this module. @raymondfeng could you PTAL yourself?

[2015-09-30 10:21] Vincentjonssonqi commented on #83
+1 one that

[2015-09-30 10:22] Vincentjonssonqi commented on #83
+1 on that

[2015-10-01 19:22] kevintechie commented on #89
The loopback-component-passport module uses the Passport custom callback to handle validation. It does this because not all strategies work with the validation handling built in to Passport. Look at the Passport documentation (scroll down to Custom Callback: http://passportjs.org/docs/authenticate

[2015-10-02 07:38] yakimun opened #92 "Custom verified function for strategy"
How can be overriden the default `verified` function for specific strategy?
`req._passport.instance._strategies['facebook-token']._verify` override does not work.

[2015-10-05 22:11] superkhau commented on #92
@raymondfeng ^

Possible feature.

[2015-10-08 10:24] clockworkgr commented on #49
The problem is not so much in the model definitions as such since you could easily handle that by extending UserCredential and UserIdentity as well and overriding the relations to end up with your own Customer, CustomerIdentity, CustomerCredential for example.

This refers to the js model files as well as the json files since they are littered with hardcoded references,

So if you wanted the relat

[2015-10-08 13:12] clockworkgr commented on #49
https://github.com/strongloop/loopback-component-passport/pull/93

[2015-10-11 22:22] BerkeleyTrue commented on #80
Any feedback on this?

[2015-10-12 08:47] wenwei1202 commented on #89
I see , thank you @kevintechie. And now I know why loopback-component-passport calls req.login(), I was a little confused about this before.

[2015-10-13 23:39] superkhau commented on #89
@wenwei1202 Are you still running into issues? Is this good to close?

[2015-10-13 23:42] superkhau commented on #80
@raymondfeng ^

[2015-10-14 13:39] jamesjjk commented on #57
@gshireesh I have implemented your fix from the PR, however req.accessToken still returns a null object for local passport. Also I see no reference to forceDefaultCallback in the code? Any ideas of what it could be

[2015-10-15 08:34] jamesjjk commented on #57
@gshireesh Thank you for your solution but there is an error in your solution. On line 470 : info.accessToken.ttl (see comment). Also you have changed an earlier PR I noticed from (line 307):
    userProfile.accessToken = accessToken;
    done(null, user, {accessToken: accessToken});

from

    userProfile.accessToken = accessToken;
    done(null, userProfile, {accessToken: accessToken});

Why if

[2015-10-15 16:16] jamesjjk commented on #57
I have an updated forked version here which also supports Email verification on the defaultCallback for those looking for that option. It requires the attribute "emailVerificationRequired" : true in your respective providers.json. https://github.com/jamesjjk/loopback-component-passport

[2015-10-17 06:42] tamitutor commented on #26
+1

[2015-10-21 04:56] gustavomick commented on #57
trying to understand here.. why do we need two tokens stored in two diferent places? .. thanks!

[2015-10-21 11:24] e97 commented on #57
@jamesjjk thank you, works for me.

[2015-10-21 16:41] julien-sarazin commented on #37
@raymondfeng is it possible to store the access_token in cookie now?

[2015-10-21 21:37] jamesjjk commented on #57
@gustavomick can you expand?

[2015-10-22 00:24] gustavomick commented on #57
@jamesjjk
1) i used both original and your solution but req.accessToken is still undefined after redirect (using setAccessToken:true). its ok to say that would be filled as facebook strategy? (req.user is filled)
2 ) how do i read (after redirect) info accessToken filled on passport-configurator.
thanks

[2015-10-22 02:36] gustavomick commented on #57
@jamesjjk okay after bbt2 .. i noticed that options.cookie must be true on yours, why isn't default option? thanks.

[2015-10-22 12:33] julien-sarazin commented on #57
Any pull request validated for this issue?

[2015-10-22 12:51] jamesjjk commented on #57
@gustavomick Its simply a fix that @gshireesh kindly implemented, and I had done a similar job prior and decided to extend, yes it should be a default option - feel free to implement. We are just community members implementing a solution for these issues.

[2015-10-22 12:53] julien-sarazin commented on #57
@jamesjjk Thanks a lot. I don't want to be pushy but is there any pending PR?

[2015-10-22 12:55] jamesjjk commented on #57
@julien-sarazin I'm not part of the LB team and I don't have PR rights. Its good to share back with the community. Feel free to request from @superkhau @raymondfeng. Else use my repo as a source "loopback-component-passport": "git+https://github.com/jamesjjk/loopback-component-passport.git"

[2015-10-22 17:39] ianseyer opened #95 "passportConfigurator userModel not responding to change"
Hi there!

I am using the facebook passport component, to handle user signup via facebook.

It is fully functional, however:

despite my server.js containing:

[code]
the users are still created in the standard User table, instead of my Donor table.

[2015-10-22 17:53] superkhau commented on #95
Duplicate. See https://github.com/strongloop/loopback/issues/1750

[2015-10-24 05:02] clockworkgr commented on #83
This is just off the top of my head.

Authenticating using the FB sdk should be as simple as using the method described in the FB docs for any other app, getting the code and calling /auth/facebook/callback with the code using HttpClient or something.

That should give you a valid accessToken and userId in the cookie returned.

The problem is with the LoopBack Android SDK which as far as I can see

[2015-10-26 07:17] #89 closed

[2015-10-26 15:14] octera opened #96 "Use passport login (ldap) in rest"
Hi there,
I'm able to login with LDAP, it's pretty awesome.
Now I have to do the same thing with an REST call to the login method.
I don't see how this plugins can integrate with a call rest... Maybe with a hook "beforeRemote"? But I don't know what to put inside the method...

Thanks for your help

[2015-10-26 16:23] barocsi commented on #56
I am facing the similar issue, after the successful login, user data is received, token generated but the Strongloop Angular SDK service never sends access_token with subsequent calls. The docs says:

The SDK provides first-class support for authenticated requests.
Basic use is simple: Call User.login() with correct credentials and the SDK will handle everything else for you. It will store the acc

[2015-10-26 18:51] sharkinsspatial commented on #65
If possible, could someone clarify a few of the steps outline in @doublemarked great response above? Steps 1 and 2 are clear and I am able to redirect to Facebook as an auth provider and use successRedirect to get my user at /api/Users/{id}, but I am unsure of how to obtain an AuthToken from here to allow my client to make subsequent authenticated request to the REST API after this?  Any clarifica

[2015-10-26 23:57] superkhau commented on #96
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See h    ttps://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-26 23:57] #96 closed

[2015-10-27 14:39] doublemarked commented on #65
@sharkinsspatial I believe the `loopback-component-passport` will set a cookie that contains the accessToken. Or, you can set up a server-side template that somehow or another gets the access token back to the client.

For example, in our code we launch the auth process in a small popup window. Once Passport completes, in the popup ls rendered a template with the accessToken and the popup window t

[2015-10-27 15:00] clockworkgr commented on #65
"if you're using Angular, I believe the LB-generated angular service will automatically read this cookie."

If that's true, I would be interested to see how it's done.

My attempts (trying to integrate facebook login specifically) did not work OOTB.

There is a big discussion (with extra links) here: https://github.com/strongloop/loopback-sdk-angular/issues/74

This helped me solve my issues.

Two

[2015-10-27 15:02] doublemarked commented on #65
Yes, this is absolutely the case, and why I mentioned that under CORS you need something more complex.

[2015-10-27 17:56] sharkinsspatial commented on #65
@doublemarked, I am in a similar situation where I have an SPA on one domain making requests to a Loopback REST API on another domain.  When doing this previously with hand rolled solutions I have done my third party passport authentication and then appended the access token as a query parameter in the redirect to the SPA where I can store it locally.  In this case I was hoping for something simil

[2015-10-27 18:52] clockworkgr commented on #65
In theory you should be able to provide a customCallback in the options so that loopback adds the access token and user id to your success redirect (which would solve the issue of the cookies not being available due to diff domains).

Someone else had a similar issue but at the time couldnt get it to work. See here:

https://github.com/strongloop/loopback-component-passport/issues/14

[2015-10-27 19:53] sharkinsspatial commented on #65
Thanks @clockworkgr, that seems to be exactly what I was looking for.  I'll give this a try and see how it works out.

[2015-10-28 01:58] mike-aungsan opened #98 "API"
There are a few issues I would say.

First, it does not show any API in the API explorer. So I don't know how to use / which API to call
Notice that username and passport are post to auth/local

Second,
Provider is "ms-ad".
searchAttributes are the following.

"searchAttributes": ["name", "employeeID", "mail", "mailNickname", "manager", "jobDescription",  "givenName"],

I do not see any of those i

[2015-10-28 02:00] mike-aungsan commented on #63
+1
Trying to do the same and looking for doc.

[2015-10-28 02:27] mike-aungsan commented on #98
Can we change or add more property into user at between line 224 and 225?

https://github.com/strongloop/loopback-component-passport/blob/master/lib/passport-configurator.js

if (user) {

            if (!!email) {
              profile.emails = [{value: email}]
            }
            profile.attributes = user
            var OptionsForCreation = _.defaults({
              autoLogin: true

[2015-10-28 23:07] mike-aungsan commented on #64
@raymondfeng
I have the same problem no matter where I put this line before or after boot.
passportConfigurator.init()

So finally I did like this
app.middleware('session:before', loopback.cookieParser(crypto.randomBytes(64).toString('base64')))

Interesting thing is that example code work fine. But I use all the latest version in my package.json  which probably make it not work.

And I know it is

[2015-10-29 00:00] crandmck commented on #56
@bajtos Can you comment on the right way to use Angular SDK with loopback-component-passport?

[2015-10-29 20:58] superkhau commented on #95
Keeping this issue as the main and closing https://github.com/strongloop/loopback/issues/1750 as a duplicate.

[2015-10-30 05:20] clockworkgr commented on #95
Following the discussion you had at strongloop/loopback#1750 ,

I can confirm that there is an issue with user models not named User or user due to hardcoded relations in userIdentity and userCredentials.

This falls under supporting extended user models. I have already submitted a PR fixing this here: https://github.com/strongloop/loopback-component-passport/pull/93

[2015-11-02 13:35] bajtos commented on #56
TBH, I don't know what's the right way. We need to set aside some time to investigate what's the best approach here.

[2015-11-02 14:14] gausie opened #99 "No way to catch errors from a local login"
Using passport-local, errors from User.login are passed down the chain of express middleware, instead of being used in a failureRedirect.

I want to do something with failed logins (i.e. make a more descriptive error name) but cannot.

[2015-11-02 16:28] gausie opened #100 "Stop redirect on local login"
I want to be able to use the local login endpoint using CORS with preflight. 3xx redirects are disallowed with preflight, but there is no way to disable redirect properly.

You can set the options.fn for the local provider, but then you do not have the Express result object in scope!

[2015-11-02 21:47] superkhau commented on #100
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-11-03 00:11] crandmck commented on #56
OK, it sounds like this is not really a doc issue.  First, the relevant engineers need to determine how to do  it, then explain it to me and ideally provide an example.   I'm going to remove the "doc" label for now.  Can add it back and/or create separate issue when above is done.

[2015-11-04 08:37] BerkeleyTrue commented on #80
:beep boop:

[2015-11-04 09:23] BerkeleyTrue opened #101 "Release 1.6.0"
Been stuck pulling in from Github for a while now.

[2015-11-04 22:29] superkhau commented on #101
@raymondfeng ^ Should we do a release?

[2015-11-04 22:33] raymondfeng commented on #101
sorry for the delay. 1.6.0 is published.

[2015-11-04 22:33] #101 closed

[2015-11-05 00:09] gausie commented on #100
I'm not able to do that just yet. I have just moved away form passport-local, using /api/users/login instead.

[2015-11-05 00:09] #100 closed

[2015-11-05 00:47] gausie opened #102 "Optionally pass accessToken as a parameter to returnTo"
On mobile devices, it is useful to have the login redirect to a URL with a custom protocol (myapp://) so that the intent can be captured and the login processed. In 1.6.0 we have the ability to set a returnTo session key for the successRedirect.

It would be extremely useful to be able to append the accessToken generated from a successful login to this URL as query parameters, as they can be read

[2015-11-06 16:30] codeyad commented on #63
I probably should do my own passport component

[2015-11-12 08:05] mbouclas opened #106 "Create fails on non standard user model"
I have a user model with some added properties that are required. When i do FB auth for example, everything goes as planned up to the point where the new user needs to be created. Validation fails of course since my fields are missing. How can i setup what happens after the FB login is completed?
In passport you do something like new FacebookStrategy(strategy, loginFacebook) where the 2nd paramete

[2015-11-15 03:16] jonathan-casarrubias commented on #95
Yes I can confirm I have same issue here, I always extend the user model and the component uses the base user model instead the one Im sending as userModel

[2015-11-16 14:42] jonathan-casarrubias commented on #102
when you configure the passport provider you set the success url, set that as a middleware in the backend like

[code]

then just create a middleware like

[code]

[2015-11-16 14:44] jonathan-casarrubias commented on #106
https://github.com/strongloop/loopback-component-passport/issues/95

[2015-11-16 16:52] superkhau commented on #106
Duplicate, closing.

[2015-11-16 16:52] #106 closed

[2015-11-16 21:51] loay commented on #84
Hi @justinlindh
What version of npm and node are you using?
I tested these components with npm 3.3.9 and node 4.x as well as installed loopback@2 and it works fine on my end.
The only issue I got was the loopback version so I installed loopback@2 then tested and it is went through fine.
If you are still having these issues, please let me know. Thanks.

[2015-11-17 00:09] justinlindh commented on #84
Reproducing the problem likely depends on how much data is being returned in the profile field. It's possible that minimal profiles won't trigger the problem. I realize that makes this significantly more difficult to reproduce, but another check could be directly against the datastore: if it's creating the profile column in postgresq is still being created as varchar(1024), it's likely still an is

[2015-11-17 07:16] mbouclas commented on #95
Concerning #106 which was closed as duplicate. Anyone has any idea (or example) on how to auth (FB or Google) using a non standard model? By that i mean, a model that has extra required fields to the standard ones. For example, my model has a isActive field, and auth fails every time because of validation error, as the isActive does not exist in the FB response. In my case what i get after every a

[2015-11-17 14:36] loay commented on #98
Hi @mike-aungsan
Thanks for your post. Looking into these issues. In the mean time, did you have a look at the passport example here:
https://github.com/strongloop/loopback-example-passport

[2015-11-17 14:48] jonathan-casarrubias commented on #95
I think you simply should use an operation hook, Im doing something similar of what you try to achieve, I add a permalink depending the username facebook/twitter sent

[code]

The documentation states that it should run before validation

https://docs.strongloop.com/display/public/LB/Operation+hooks

Cheers,
@jonathan-casarrubias

[2015-11-17 14:51] loay commented on #83
Hi @bachirelkhoury
Did you have a look at this document:
https://docs.strongloop.com/display/public/LB/Android+SDK
Also for the authentication part:
https://docs.strongloop.com/display/public/LB/Android+SDK#AndroidSDK-Usersandauthentication

Same for iOS:
https://docs.strongloop.com/display/public/LB/iOS+SDK

For Cross platform, there is the Xamarin SDK:
https://docs.strongloop.com/display/public/

[2015-11-17 15:24] mbouclas commented on #95
@jonathan-casarrubias That brings me closer to what i'm after. Any idea if the ctx object holds the strategy data (FB return data)? I found an "instance" property but it does not hold the FB data. For example, i could use the first and last name returned by FB.

thanks

[2015-11-17 16:29] loay commented on #99
Hi @gausie
Thanks for reporting this issue. I am not sure if I follow your request concerning the local login.
If you look in passport-configurator.js, you will see this part:
[code]
or
[code]

If that's not what you are looking for, please provide more information about the issue or refer to a repo I can use to reproduce the issue. Thanks.

[2015-11-17 23:29] jonathan-casarrubias commented on #95
The way I configured, I extended, User, UserIdentities and UserCredentials into Account, AccountIdentities and AccountCredentials, I explicitly added the relation as stated in the documentation, and I do have access to Account.identities() or ctx.instance.identitites() that includes the identities for that account so you may manipulate that data as your convenience.

In order for this to work, I n

[2015-11-19 13:04] jamesjjk opened #107 "Security vulnerability in loopback-passport-component"
edit by @rmg: **discussion moved to email**

[2015-11-19 21:08] superkhau commented on #107
@loay ^

[2015-11-19 21:31] loay commented on #107
@jamesjjk @superkhau Thanks .. will have a look shortly.

[2015-11-20 00:20] superkhau commented on #107
@jamesjjk FYI, next time please inquire about vulnerabilities via callback@strongloop.com instead of the public channels.

@loay Can you create a section in the [LoopBack Wiki](https://github.com/strongloop/loopback/wiki) regarding this? Just so community users know what to in situations like this.

[2015-11-20 12:17] jamesjjk commented on #107
@superkhau No problem will contact you via callback@strongloop.com

[2015-11-20 15:42] loay commented on #107
@superkhau Security page is up.

[2015-11-23 20:32] superkhau commented on #107
@loay @rmg TY.

[2015-11-30 23:11] superkhau commented on #95
@loay Reassigning to you as you are the repo expert.

[2015-12-01 00:08] loay commented on #99
@gausie did you have the chance to test that?
Thanks

[2015-12-01 00:11] loay commented on #95
Thanks. Having a look.

[2015-12-01 21:01] skolesnyk commented on #83
@clockworkgr   , could you provide a working example of providers.json with passport-facebook-token

[2015-12-01 21:49] clockworkgr commented on #83
Using passport-facebook-token is very straight forward....just npm install it and add another entry to your providers.json with
[code]

Since the actual auth is handled by the Facebook Android SDK (which provides your app with a facebook access token) the auth part of passport is irrelevant.

You only need the callback so assuming you define callbackURL in providers.json as  /auth/facebook-token/c

[2015-12-01 21:51] skolesnyk commented on #83
@clockworkgr , thanks! I actually have no problem with client-side getting temporary token.
I'm having difficulty of figuring how to integrate passport-facebook-token with loopback-passport and its models (userCredentials, userIdentity, accessToken).

[2015-12-01 22:04] clockworkgr commented on #83
Oh ok...TBH I Haven't looked at that part much but i think it just works.

At least for me it correctly creates the facebook-token identity entry for the user etc without doing anything more.

[2015-12-01 22:05] skolesnyk commented on #83
@clockworkgr could you copy-paste that part of the code (that, I suppose, goes to server.js) ?

[2015-12-01 22:28] clockworkgr commented on #83
that's what I'm saying...I havent changed anything there from the default passport stuff.

I am however using my fix for using extended models with passport from here: https://github.com/strongloop/loopback-component-passport/pull/93

You might want to use @jonathan-casarrubias fork which is more polished than mine

[2015-12-01 22:49] skolesnyk commented on #83
@clockworkgr , for me
passportConfigurator.configureProvider(s, c);
gives an error

 passport.use(name, new AuthStrategy(_.defaults({

TypeError: AuthStrategy is not a function

This with following setup
// Passport configurators
var loopbackPassport = require('loopback-component-passport-c');
var PassportConfigurator = loopbackPassport.PassportConfigurator;
var passportConfigurator = new Passport

[2015-12-01 22:54] clockworkgr commented on #83
Ah yes...That rings a bell...It's the way passport-facebook-token exports the strategy

In order to keep all your changes in a single place and not modify multiple packages try changing this in passport-configurator.js
[code]
to

[code]

[2015-12-01 23:48] skolesnyk commented on #83
Thanks, that works. But still leaves handling user creation in myst
As you suggest : "loopback cookie with your loopback access token and id " . Should I follow these instructions https://docs.strongloop.com/display/public/LB/Logging+in+users  to create/login a new user?

[2015-12-01 23:51] skolesnyk commented on #83
Also, have you tried implementing getting long term password from Facebook?

[2015-12-02 00:19] clockworkgr commented on #83
Not sure what you mean. Those instructions are for local users.

If you're using facebook to login (or any other 3rd party provider) passport will create a new user if one doesn't exist upon login.

Specifically for FB , passport gets the app_scoped_user_id from FB for your FB app (the one configured with clientID/clientSecret) and checks for a user named facebook.!app_scoped_user_id! . If one exi

[2015-12-02 00:30] skolesnyk commented on #83
I had to create custom route handling because for some reason callbackUrl  (   "callbackURL": "/auth/facebook-token/callback" ) hasn't registered.

404 Error: Cannot GET /auth/facebook-token/callback?access_token=3242435
   at raiseUrlNotFoundError (/idev/apps/molfar/prankster/server/code/node_modules/loopback/server/middleware/url-not-found.js:15:17)

[2015-12-04 14:16] valentinmaxime commented on #83
OK I managed to make it work
Here the steps I followed :

Step 1 :  retrieving a loopback example with passport to have a pre-configured environment

$ git clone git@github.com:strongloop/loopback-example-passport.git
$ cd loopback-example-passport
$ npm install
$ npm install passport-facebook-token

Step 2 : Set the provider file
rename providers.json.template ==> providers.json

change providers

[2015-12-04 15:18] skolesnyk commented on #83
Wonder why do you need step 3. Is it because you don't use passportConfigurator ?

passportConfigurator.init();

passportConfigurator.setupModels({
  userModel: app.models.Customer,
  userIdentityModel: app.models.userIdentity,
  userCredentialModel: app.models.userCredential
});
// Configure passport strategies for third party auth providers
for (var s in config) {
  var c = config[s];
  c.sessio

[2015-12-04 15:32] valentinmaxime commented on #83
Because I'm lazy.
When I git clone git@github.com:strongloop/loopback-example-passport.git I have it in server.js :
[code]

[2015-12-04 22:58] skolesnyk commented on #83
Guys, how would you set the Role to the user who's logged in through Facebook?

[2015-12-08 06:18] grimabe commented on #83
@valentinmaxime I followed the steps you described.
I want to auth the user through an iOS app.

when I send the request to get /auth/facebook-token/callback?access_token=..... i got a cookie with an access_token inside.

Thank you at least the login works :-)

Then I try though the strongloop explorer to get user info based on this access_token I got the following error :

 {
  "error": {
    "me

[2015-12-08 08:08] skolesnyk commented on #83
What's the %20XXXXXX part?

[2015-12-08 09:30] valentinmaxime commented on #83
@grimabe You have to add route to provide an access to the users.
example :
[code]

[2015-12-08 10:25] grimabe commented on #83
@skolesnyk

%20XXXXXX

"XX" are placeholder for my access_token.

@valentinmaxime
If I got a cookie with the access_token that's because the user got created when I sent the facebook-token request. right ?
there are already routes defined in the project by default :

![screen shot 2015-12-08 at 14 23 40](https://cloud.githubusercontent.com/assets/1334148/11653392/57c86e6c-9db7-11e5-94f3-4910cd3007

[2015-12-08 10:37] clockworkgr commented on #83
Is that screenshot all your "public" API methods?

If so there is no /users/{id} method to match your:

 /users/1?access_token=s%3XXXXXXXXX%20XXXXXX"

request.

Hence the not found error

[2015-12-08 11:03] grimabe commented on #83
@clockworkgr

no, it was just a sample see below :

![screen shot 2015-12-08 at 15 00 59](https://cloud.githubusercontent.com/assets/1334148/11654102/8d8f42d2-9dbc-11e5-81a5-d263b0df9149.png)

I'm pretty sure that s%3XXXXXXXXX%20XXXXXX" (value of access_token in the cookie) is signed .
So i'm sending a signed value instead of the unsigned value ? I am wrong ?

[2015-12-08 11:33] clockworkgr commented on #83
not sure if that is your issue, however the relevant code to "unsign" the access_token can be found here:

https://gist.github.com/eugenehp/e45537b73d58db33cd80

[2015-12-08 12:10] grimabe commented on #83
Ok i guess it's the split function on the ":" but as you said it is not fixing the issue :D

[2015-12-08 13:18] clockworkgr commented on #83
It's both these lines:
    accessTokenId = accessTokenId.split('.')[0];
    accessTokenId = accessTokenId.split(':')[1];

(everything after the : and before the . )

[2015-12-08 13:27] clockworkgr commented on #83
Although to be honest, something seems wrong with the token you're copy pasting..

the signed token is something like this:

s:ACCESS_TOKEN.SIGNATURE

this urlencodes as
s%3BACCESS_TOKEN.SIGNATURE

the . is a valid url character and thus does not get url encoded

the %20 is a url encoded space character. It shouldn't be there.

If you're only testing your system, output the cookie you get from loo

[2015-12-08 15:11] grimabe commented on #83
As you said I tried to log when the cookie is created, I got the following access_token id in the log :

     55RV1EHTJhA88oHOyPk31DfDOUfqCrbIYobJ1o2VYTdyArjkzLQf6CpfY2xhh2EV
and inside the cookie I got this :

     s%3A55RV1EHTJhA88oHOyPk31DfDOUfqCrbIYobJ1o2VYTdyArjkzLQf6CpfY2xhh2EV.cHGPZCx%2F6uWK3y7Fh%2FD78yVVRDOwcGbA0ue%2BPCFOA2A
So I tried through the explorer with this as token

    55RV1EHTJ

[2015-12-08 15:25] clockworkgr commented on #83
Do you get an error if you simply try requesting /api/Users/1  no token or nothing? maybe it's something with your LB configuration in general and not with passport

[2015-12-08 15:28] grimabe commented on #83
It appears to be on every request event POST /api/users with to without token set so.

I just followed @valentinmaxime steps to get Facebook login working first.

[2015-12-08 15:34] clockworkgr commented on #83
Are you making all these requests through the explorer?

[2015-12-08 16:39] grimabe commented on #83
Even from postman or even if I visit example.com/users/ to get the list I got the error.

[2015-12-09 19:18] loay commented on #21
Hi @frankcarey ,

Still experiencing the same issue?
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2015-12-09 19:18] #21 closed

[2015-12-12 22:10] #107 closed

[2015-12-15 06:23] tkaplan commented on #84
Any update on this issue? I'm having issues saving manyEmbedded model in postgresql because it looks like it serializes to varchar. I could change the db manually, but I prefer not to. Where would I put the following in the relationship for embedded model:

postgresql: {dataType: "text"}

[2015-12-19 16:42] vshushkov commented on #99
Hi, @gausie @loay
I've made a related commit https://github.com/strongloop/loopback-component-passport/pull/112

[2015-12-30 23:51] taras commented on #84
I encountered the same problem with GitHub profiles.

[2015-12-31 01:31] taras commented on #84
I was able to overcome the problem by extending the built in UserIdentity model and overloading the profile property definition

[code]

[2016-01-04 23:54] pakoquijano commented on #83
@grimabe Did you find a solution to your 404 response error? I have the same issue.

[2016-01-06 14:59] benkroeger commented on #92
I am using something very similar in one of my former internal projects. [loopback-component-passport-custom-schemes](https://github.com/benkroeger/loopback-component-passport-custom-schemes) allows to define custom auth schemes along with custom verify functions. **Note:** the referenced repo is not final - for now, I just wanted to have a dump in git. Will continue development / cleanup / docume

[2016-01-06 15:43] loay commented on #84
Hi @tkaplan
Does @taras fix work for you? If not, please let me know and I will see what we can do about it.

[2016-01-06 16:04] loay commented on #37
@britztopher
Is this issue still persisting? Thanks

[2016-01-06 16:06] loay commented on #40
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.Thanks.

[2016-01-06 16:06] #40 closed

[2016-01-14 11:21] skolesnyk opened #117 "Handling token expiration"
Hello!

Is module handling token expiration (e.g. user has changed facebook password) or is it my app's responsibility?

I'm asking because I saw this error in the app's logs:
InternalOAuthError: Failed to fetch user profile (status: 400 data: {"error":{"message":"Error validating access token: Session does not match current stored session. This may be because the user changed the password since t

[2016-01-15 08:22] terusus opened #118 "v2.0.0: Local strategy always fails (user.emailVerified is always undefined)"
https://github.com/strongloop/loopback-component-passport/blob/v2.0.0/lib/passport-configurator.js#L307

[2016-01-15 08:30] terusus commented on #45
This is still a thing in 2.0.0. And that line of code is not a fix.

if we have `"setAccessToken": true` in `providers.json` then one of the `done(...)` functions on line [308](https://github.com/strongloop/loopback-component-passport/blob/v2.0.0/lib/passport-configurator.js#L308) or [310](https://github.com/strongloop/loopback-component-passport/blob/v2.0.0/lib/passport-configurator.js#L310) is c

[2016-01-16 01:22] mike-aungsan opened #119 "Email address is wired and UserModel email validation fail for LDAP provider"
For LDAP provider, user email become username@domain.com@loopback.provider.com  and validation fail.

loopback-component-passport:
All third party accounts will login with an email of uniqueID@loopback.provider.com example 123456@loopback.facebook.com

Line 702:
    // email validation regex
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[

[2016-01-17 16:51] guptasujeet commented on #61
Yeah, I was also struggling for the same, It helped me.
Thanks !!

[2016-01-21 21:57] sochka opened #120 "https in callback URL"
Hi, if I have this relative callback in the config: `callbackURL: '/auth/google/callback'` and the website is accessed through HTTPS shouldn't loopback automatically resolve callbackURL to `https://DOMAIN_NAME/auth/google/callback`? I believe it should, but indeed, it resolves to http.

[2016-01-21 22:27] JensWinter commented on #120
I'm also wondering about this...

[2016-01-23 13:52] sochka commented on #120
@raymondfeng, any feedback on this? I don't know how to resolve this problem without using absolute URI which would make my website available only on one domain/protocol.

[2016-01-26 15:02] terusus commented on #118
Yep, not really an issue. Closing that.

[2016-01-26 15:02] #118 closed

[2016-01-26 15:50] terusus commented on #45
This is still a thing in __v2.0.0__. When this happens:

`"setAccessToken": true` in `providers.json`. A new user is created (`user.emailVerified === false`). That user tries to login before email verification. He will not login. But the server throws _Error: Can't set headers after they are sent_.

Reason: [Login function](https://github.com/strongloop/loopback-component-passport/blob/v2.0.0/lib/

[2016-01-26 18:33] loay commented on #119
Duplicate of [strongloop/loopback#1963]

[2016-01-26 18:33] #119 closed

[2016-01-27 03:22] whispers16 commented on #83
Hi! when I try to send the access token to localhost:3000/auth/facebook-token/callback?access_token="xxxx" with the token that I get from the client-side, I got the following error:

500 InternalOAuthError: Failed to fetch user profile
   at C:\adminEasy\loopback-angular-admin\node_modules\passport-facebook-token\lib\index.js:148:32
   at passBackControl (C:\adminEasy\loopback-angular-admin\node_m

[2016-01-29 16:59] whispers16 commented on #83
@grimabe Hi did you find any solution to the access token problem?? I got the same problem...and strongloop is not accepting the token I get from this strategy...

[2016-01-30 07:07] skolesnyk commented on #83
Works for me:
var arr = req.headers["cookie"].split(";");
      var at = arr[0].split("=");
      var userid = arr[1].split("=");
      res.setHeader('Content-Type', 'application/json');
      res.send(JSON.stringify({accesstoken: at[1], userid: userid[1]}));

[2016-02-01 10:19] terusus opened #122 "[v2.0.0] Local strategy: ER_BAD_FIELD_ERROR: Unknown column 'username' in 'where clause'"
When the app is working with a MySQL data source the following error occurs when the user is set up to use only email and password.

User model description:

[code]

Providers description:

[code]

[2016-02-03 16:17] mediapolis opened #123 "user-identity.js findOrCreate always fails (memory connector, perhaps others)"
For the use case:
  user creates native account with email & password
  user later comes back and logs in with facebook instead
  passport matches email in facebook identity to email in user table using findOrCreate on user table

Unfortunately the email property in the user table has a "unique" validation and datasource-juggler findOrCreate validates the data object before doing the find (or crea

[2016-02-05 08:14] terusus commented on #45
Also, when we override the default login behavior with a hook. We would like to actually use user.login(...). For example, if the user has a user.loginEnabled flag we would be in the same situation:
Passport authenticates successfully but getting an access token fails and we get an error.

[2016-02-08 19:30] tiagolr commented on #57
Thank you @bryannaegele your solution works really well.

[2016-02-13 12:45] fuffenz opened #124 "No need to hack profileURL in passport-facebook"
The readme suggest that we need to change the profileURL in passport-facebook, but that isn't necessary.  Just add the appropriate profile fields in your providers.json file and passport will make sure you get the fields you need.

[code]

(example for passport-facebook-token, but same goes for passport-facebook)

[2016-02-16 00:18] whispers16 commented on #83
@skolesnyk thank you! sorry I'm new at this, but what specific part do you implement that code in?, all I need is to return a JSON with the facebook profile data and access token to strongloop.

in the providers.json I put a  ´´ "successRedirect": "/auth/redirect/facebook" ´´
and then in passport.js I put:

´´  app.get('/auth/redirect/facebook', ensureLoggedIn('/'), function(req, res, next) {

[2016-02-17 15:17] dineshi2it commented on #57
@bryannaegele  @tiagolr  I just copied those code and pasted it under boot directory by saving it as set-remove-cookie.js. But it is not working. Am I doing anything wrong or missing something?

[2016-02-17 15:21] tiagolr commented on #57
Well i place it pretty much at the end of boot scripts, after the following middleware:
[code]

[2016-02-17 15:26] tiagolr commented on #57
I actually moved those remote hooks to inside `users.js` file.

Try using the `loopback.context()` and `loopback.token()` middleware, see if it that is what's causing the problem.

[2016-02-17 15:53] dineshi2it commented on #57
I added `app.use(loopback.context());` above
[code]
and my `common/model/user.js` looks

[code]

and in `server/server.js` I have this

[code]

still remote hook doesn't work.

[2016-02-18 23:25] tiagolr commented on #57
Does the console log anything? I'm using default 'users/api/login' and '/api/users/logout' here. What is the error?

[2016-02-19 05:46] RAJESHI2IT commented on #57
@tiagolr I didn't use api login and just learnt why remote hook is actually for. Thanks a lot.

[2016-02-19 05:48] RAJESHI2IT commented on #57
@tiagolr I had the same problem and I didn't use api login and just learnt why remote hook is actually for. Thanks a lot.

[2016-02-19 06:25] dineshi2it commented on #57
@tiagolr @RAJESHI2IT Thanks. That was the problem. It is works great if I use API login.

[2016-02-24 09:05] mehlleniumfalke commented on #26
+1

[2016-02-24 21:16] jmwohl commented on #57
@dineshi2it Sounds like you sorted things out, but regarding this:

[code]

The line `var res = context.result;` should read `var res = context.res;`. If you're using the example provided way up there by @bryannaegele, that's the issue... after that change, logging out via the API will also clear the cookies.

[2016-02-24 21:21] bryannaegele commented on #57
@jmwohl Good catch. I updated the example.

[2016-02-25 15:00] sebastianhaas commented on #124
:+1:

[2016-03-04 16:25] jubbens commented on #49
@clockworkgr Any progress towards this? This seems like an absolutely colossal bug since the [Loopback docs](https://docs.strongloop.com/display/public/LB/Using+built-in+models#Usingbuilt-inmodels-Usermodel) state

[2016-03-04 22:46] eriklovdahl commented on #83
@whispers16 If I understand you correctly, you can set `"json": true` in you provider config.

[2016-03-05 02:31] whispers16 commented on #83
@eriklovdahl thanks I didn't know that way, that worked! I'd hacked passport-configurator.js and also worked for me, but this is a cleaner way thanks!

[2016-03-06 10:29] ebarault commented on #95
@jonathan-casarrubias
when you write : " I explicitly added the relation as stated in the documentation, and I do have access to Account.identities() or ctx.instance.identitites() that includes the identities for that account so you may manipulate that data as your convenience."

rigth now i cannot get identities in the operation hook before the custom user is created. empy array is always returne

[2016-03-14 15:48] yayolius opened #125 "How to link facebook account"
I tried to change, the example configuration for facebook login using the google link example, in order to create a link to the regular accounts, but nothing i try works at the end.
Can you help me with this?, or include and example in the documentation?

[2016-03-14 16:56] athakral opened #126 "SAML 2 support"
We need to support wsfed-saml2 authentication in our project.

I can try to add this

https://github.com/auth0/passport-wsfed-saml2

and make changes to support saml2. But would need some guidance from the team :).

Let me know what you guys think.

Regards
Aman

[2016-03-15 16:41] jubbens opened #127 "Where does account security come from with social login?"
I have seen other people indicate that social logins should be authenticated using `UserIdentity.login()`. I see that I can allow people to pass in an `id` and an `accessToken` to that function and if a local `User` does not already exist for this social login, one will be created. Great!

However, it seems like now anybody who knows that `id` can use it to perform a social login with that account

[2016-03-18 11:47] julien-sarazin opened #128 "is this repository slowly dying?"
There are 16 pull requests, ATM the most recent is from January 12th.
No update since a long time.

Is this repository still maintained by the strongloop team? Do we need to focus on another component or develop our own?

Thanks.

[2016-03-18 19:05] superkhau commented on #128
@julien-sarazin No, we've just all been busy on various projects. Things will be back to normal nexet week. We will also be implementing new procedures to triage PRs like we do for bugs/features. I will formalize it in the LoopBack wiki in the coming weeks.

[2016-03-18 19:05] #128 closed

[2016-03-19 07:57] julien-sarazin commented on #128
@superkhau Glad to read that. Thanks for the reply.

[2016-03-19 09:38] clockworkgr commented on #49
@jubbens I've referenced my initial fix PR in the comment above...

Since then @jonathan-cassarubias has published a more polished version of the fix which is referenced here:https://github.com/strongloop/loopback-component-passport/pull/93#issuecomment-156843885

Really have no idea why this hasn't been merged yet :/

[2016-03-19 15:38] mediapolis commented on #49
+1

[2016-03-20 10:04] clockworkgr opened #129 "PassportConfigurator domain option conflict"
I might be totally minsuderstanding this but I believe there is an issue with the domain option in providers.json.

According to passport-configurator.js in the default auth callback, if the domain option is set, it is used to set the domain of the cookie.

However, certain passport strategies (passport-ntlm, passport-auth0 and possibly others) use the domain option to set the server against which

[2016-03-21 10:22] tyoh commented on #61
How, this works!!!   Thanks so much, peterwilli

[2016-03-23 20:53] phra opened #130 "Missing documention for "json": true option"
hi,

we are porting a webapp to android & ios via cordova and we have to set property "json": true on the provider to have a working social login. (switch from http redirect mode to json)

why can't we find this property on the documentation? it's a docs bug or it will be deprecated?

thanks.

[2016-03-23 20:57] phra commented on #130
seen json: true on this ticket -> https://github.com/strongloop/loopback-component-passport/issues/83

[2016-03-24 09:40] mkaag commented on #126
+1

[2016-03-30 18:45] jannyHou commented on #130
@phra thanks for you suggestion and the effort you and other users spent to get this work on android&ios.
If I understand correctly, a normal provider config like:
[code]
would not work for android&ios but
[code]
would right?

As you could see from https://github.com/strongloop/loopback-component-passport/issues/83, login on those two platform is still in discussion. It's more like a feature that

[2016-03-30 19:39] jannyHou commented on #125
@yayolius I am trying to reproduce your question, but confused with

hmm...how could you change a **facebook** login according to a **google** link?
I also appreciate it if you could paste the config you are trying to change in comment:)

[2016-03-30 19:42] jannyHou commented on #124
@fuffenz @sebastianhaas thanks for your suggestion!
some users also mentioned this before, I will update the alternative way in doc.

[2016-03-30 19:48] phra commented on #130
thanks for your time.

yep, it's right.

[2016-03-30 19:52] yayolius commented on #125
Well, i think that the problem is that i really don't understand the differnece between auth and linking, i assume is that linking, means have an account already created and you want to "link" the current account with the social login.

I tried to do something like this
``
"facebook-login": {
   "provider": "facebook",
   "module": "passport-facebook",
   "clientID": "{facebook-client-id-1}",
   "

[2016-04-01 08:02] diekeure commented on #19
I'm facing the same problem here, i'm thinking of 2 workarounds:

1. When you want to keep UserIdentity and UserCredentials in sync, I think a solution would be to use an operation hook, and before a UserIdentity or UserCredential gets persisted, you can check/save both models accordingly.

2. What if you set up your models definition file to use the same table (MySQL in my case). That should be p

[2016-04-01 08:27] diekeure commented on #19
Well scratch option 2! :-1:

When using the same table, logging in or linking a 3-party profile created 2 records in that same table, because of the different provider name, didn't think of that...

It was hacky anyway :-)  If one of the models added extra properties or relations it could easily break.

[2016-04-01 21:01] jannyHou commented on #123
@mediapolis thanks for your workaround!
I am trying to debug what's going wrong here but still confused how to reproduce it, I don't quite understand this description "passport matches email in facebook identity to email in user table using findOrCreate on user table"..
Could you explain the steps to reproduce your problem?

[2016-04-01 21:06] jannyHou commented on #122
@terusus Could you post what errors are you getting?
I am trying to reproduce your question, and for a better debugging, please replace the [sandbox](https://github.com/strongloop/loopback-sandbox), or explain the steps to reproduce your problem:) thanks!

[2016-04-01 21:28] jannyHou commented on #120
@sochka I am trying to debug this problem, could you upload your code in this [sandbox](https://github.com/strongloop/loopback-sandbox)?
When I login facebook account, I just use `"callbackURL": "/auth/facebook/callback",` and facebook is using `https`, so I am a little confused.
Thanks.

[2016-04-01 23:29] clockworkgr commented on #120
the relevant code is part of passport-oauth2. passport-facebook inherits from that

in passport-oauth2/lib/strategy.js line:140

[code]

So if you redirect your users to http://ww.your-server.com/auth/facebook,

passport-oauth2  will create an http:// absolute URL for the callback

if you redirect them to https://ww.your-server.com/auth/facebook

then it will create an https:// one for the callbac

[2016-04-01 23:53] clockworkgr commented on #122
just to help out:

Starting in passport-configurator.js line: 244
[code]

the query above : "where username=username or email=username" is fine for mongodb but breaks on SQL. the relevant code should be changed to create a

"where {options.usernameField}=username"

query instead

[2016-04-02 11:31] terusus commented on #122
This error means that the SQL database should have a field `username` for every user even if it is not used. This is just because the component creates the where query always with `email` and `username`.

Partial schema:
[code]

PS: The error is the title of the post. SQL errors do not get more descriptive than that.

[2016-04-04 09:39] ernie58 opened #131 "No composite id for externalId and provider"
I noticed one can insert a UserIdentity with externalId and provider combination that exists already in the database. I think a validation rule or composite ID is needed here.

I know, with the existing flow used in this component, duplicates are handled elsewhere, so in practice this can never happen.

However, I'm writing some hooks to keep UserIdentities and UserCredentials in sync (one to one)

[2016-04-04 11:38] ernie58 commented on #19
https://gist.github.com/ernie58/09cd5c065ae44e1651be08179cce49cf

These hooks sync credentials and identities one-to-one.
I've also included some tests.

[2016-04-05 11:29] sanandrea opened #132 "setAccessToken true generates error on local login."
In providers.json, if the option setAccessToken is true leads to an [error](https://gist.github.com/sanandrea/4da1c592a0ac714d5b0e5418ce3680c6).
This is due to the fact that after using loopback login the execution continues in passport-configurator.js. See my comment [here](https://github.com/strongloop/loopback-component-passport/commit/4cf8153a7b11ace76bf75977fa9ca238cf8910ad). I think it is a

[2016-04-06 12:16] luxigo opened #134 "How to make passport aware of the current user after successful User.login() ?"
Hello !

I am using the loopback-sdk-angular and I defined a "signin" remote method for the "user" model.

After following the steps described in this document:
https://docs.strongloop.com/pages/releaseview.action?pageId=3836277#Third-partylogin(Passport)-Overview

I can login with local accounts and third-party accounts, but I am only able to link third-party accounts to other third-party account

[2016-04-07 13:28] sanandrea commented on #83
`npm install --save passport-facebook-token`
Then add this entry in providers.json:

[code]

then you are ready to go with a rest call at `/auth/facebook-token/callback?access_token=CAAGqQJa4ShcB...`

[2016-04-07 13:45] kwiky commented on #83
It was fixed by https://github.com/strongloop/loopback-component-passport/issues/116

[2016-04-07 14:09] sanandrea opened #135 "why @loopback.provider.com"
I am new to this plugin and social logins server side in general. Why is email appended by `@loopback` instead of setting correct email received from auth callback?

[2016-04-07 17:00] jannyHou commented on #122
Thank you @clockworkgr @terusus your explanations are reasonable, but I have some problem when reproducing this error:
I am using https://github.com/strongloop/loopback-example-passport, and create a mysql datasource, then attach model `user` to it.
When I start the app, try to signup, I get error:
[code]
The same result when I set `"usernameField": "email",`
And I do have `username` in my mysql d

[2016-04-07 18:17] jannyHou commented on #120
Thank you @clockworkgr I am looking into this issue.
@sochka  @JensWinter
When my "website is accessed through HTTPS" it does has some problem, but I am not sure is it caused by exactly the same error you describe:
![https](https://cloud.githubusercontent.com/assets/12554153/14361904/2aa62230-fccb-11e5-832b-9523ef97fe3b.PNG)

Could any of you confirm this? thanks!

[2016-04-07 19:57] clockworkgr commented on #120
@jannyHou That's a standard facebook app misconfiguration error

assuming you have your loopback app at myapp.com (so when logging in with facebook , facebook is told to redirect the user to myapp.com/auth/facebook/callback or whatever you've set your callback to)
then your facebook app should have myapp.com set as the app domain under Settings

Here's a screenshot
![image](https://cloud.githubuse

[2016-04-07 20:00] clockworkgr commented on #122
Well the problem appears when the table does NOT have a username field (right @terusus ?)

I guess technically this is expected behaviour since user account models should extend User which has the username field but I can see why someone doesn't want to have it  if they're not using it.

[2016-04-08 18:31] jannyHou commented on #132
hey @sanandrea I am trying to reproduce your error, could you describe more about the steps to get this error:
I am using this example for debug https://github.com/strongloop/loopback-example-passport
Do I need to add `setAccessToken: true` in [local config](https://github.com/strongloop/loopback-example-passport/blob/master/providers.json.template#L2)? or [facebook config](https://github.com/stro

[2016-04-08 19:11] sanandrea commented on #132
I set the setAccessToken true on local config and I triggered local login from browser.
Thank you!

[2016-04-08 19:46] jannyHou commented on #132
I reproduced it on my local:
1. git clone https://github.com/strongloop/loopback-example-passport
2. add `setAccessToken: true` in local config
3. node .
4. signup a new account
5. logout then login with local account you created in step4

Error msg:
---

[code]

[2016-04-10 13:34] terusus commented on #122
1) Inherit the user model and make a property declaration with `"username": false`.
2) Create the MySQL database for your project. (You should not have a username field in your custom user table.)
3) Use the provider description json with:
[code]
4) :boom:

[2016-04-11 04:32] shushree commented on #26
+1

[2016-04-11 21:39] loay commented on #45
connect to https://github.com/strongloop/loopback-component-passport/pull/136

[2016-04-11 21:42] loay commented on #132
Hi @sanandrea
Thanks for your pull request. Actually the issue is already reported https://github.com/strongloop/loopback-component-passport/issues/45
and I was working on it already. Unfortunately, your PR won't allow the emails to be verified if the `setAccessToken:true`
I will put more details into your PR.

[2016-04-11 21:47] loay commented on #135
Hi @sanandrea
There were few reasons that include some security, as well as in certain cases, the 3rd party account could hijack the local account if the email is similar.
The read file explained how to obtain the facebook email from the user.
Also, google+ provides the email within the credentials of the account.
Twitter does not provide the email when logging as a third party account.
Please let

[2016-04-11 21:51] sanandrea commented on #135
@loay Thanks for your response! I saw how to obtain the email from facebook and gmail. I was just wondering about the choice and did not want to go in the opposite direction by 'hard coding' the original email in `user-identity.js`. Thanks again

[2016-04-11 21:53] loay commented on #135
@sanandrea You are welcome.
Actually, it is easy to hardcode now. You have the option of generated email and profile email. You can simply modify it by changing couple of words.
Thanks

[2016-04-12 14:56] jannyHou commented on #132
@loay thank you for confirm. @sanandrea  Let's keep discussion in https://github.com/strongloop/loopback-component-passport/issues/45 , it's more detailed and more people involved. Thanks!

[2016-04-12 14:56] #132 closed

[2016-04-12 18:48] jannyHou commented on #135
Thank you Loay, I am closing it since the question is solved. Please feel free to reopen it if anyone has further questions:)

[2016-04-12 18:48] #135 closed

[2016-04-12 21:02] lotas commented on #19
Thanks ernie58! I am also confused by the duality of this entity, and agree with the issue creator that this is rather very unexpected behaviour.
I would love to see some additional configuration option in the loopback-component-passport in order to have suggested functionality in this package (instead of creating and maintaining forks).

[2016-04-12 21:08] #45 closed

[2016-04-13 15:18] ernie58 opened #137 "Let passportConfigurator.configureProvider return the created Strategy"
Now `passportConfigurator.configureProvider ` returns nothing.
It would be handy if it returned the new Strategy it just configured.

In my loopback app, I want to update a users facebook profile .
I'd like to reuse the `FacebookStrategy.prototype.userProfile` for that, to get the same structure, that I've saved in the UserCredential table

Seems the only way I can reach that function is via:
`app

[2016-04-13 17:12] josephlaw commented on #83
Thanks all, I can successful to get back LB's access token when using Android mobile SDK.

But the LB cannot work when using iOS mobile SDK. It seem that accessToken is longer.... any idea?

Android log:
2     091166   log      **full authResponse, {"accessToken":"CAAQOmwFeXIABAFDlQTYJIr4tuKCpZAhELNyTEqzeVKKjL0Do3A3xYUWus19MdQSFpacMDssHeKoM4NneYQj2KpH22K0HxUbjrHGkjwTCZAwp9C19LRoviZCNIdmnXwAv0fHemH

[2016-04-13 17:59] loay commented on #45
Issue is fixed. Closing

[2016-04-13 23:20] superkhau commented on #137
Please do. :+1:

[2016-04-15 15:48] davidcheung commented on #84
It looks like this [PR](https://github.com/strongloop/loopback-connector-postgresql/pull/132) addresses this issue, the field is mapped as `TEXT` now https://github.com/strongloop/loopback-connector-postgresql/blob/ff75c74ece50b900f18ed4d027ac4ffa82728f02/lib/migration.js#L530

/cc @loay

[2016-04-19 07:39] zallek commented on #134
:+1:

[2016-04-21 06:37] ernie58 commented on #137
@superkhau PTAL thx!

[2016-04-21 08:57] superkhau commented on #137
Can you link to the PR?

[2016-04-21 09:37] ernie58 opened #139 "Security concern for matching by e-mail/username"
I have  a main platform in which I let users login with Facebook or SomeOtherService (with SSO  oAuth 2.0).

Suppose:

1. User A has a facebook profile with e-mail example@gmail.com
2. User A creates his account on the main platform, via Facebook SSO
3. User B has a profile on SomeOtherService, and sets his e-mail to example@gmail.com (no verification needed)
4. User B logs in with SomeOtherServic

[2016-04-24 11:17] sanandrea opened #141 "Prepending '/api' in the callbackPath results in 404"
If in providers.json I leave the following conf it works:

[code]
but if in server.js I add the following line of code to prepend the api + version I get an 404 for the callback url:

[code]

[2016-04-24 11:40] #141 closed

[2016-04-25 15:40] jannyHou commented on #126
@athakral @mkaag I am trying to help but to be honest I never try to conbine loopback with another passport....
This example https://github.com/strongloop/loopback-example-passport explains how the loopback-component-passport works in a very detailed way, hope it could provide you some clues.

[2016-04-25 15:46] jannyHou commented on #26
Is there anyone still running into this issue?
Could you fork this [sandbox](https://github.com/strongloop/loopback-sandbox) and replace with the code that can reproduce this error?

It's a little hard to reproduce an angular related issue without the code. Thanks for understanding.

[2016-04-25 16:01] jannyHou commented on #37
I am closing it since it's too long ago to track, please feel free to reopen it if anyone still has problem. Thanks for understanding.

[2016-04-25 16:01] #37 closed

[2016-04-25 16:03] jannyHou commented on #51
I am closing it since it's too long ago. Please feel free to reopen it if you still run into it. Thanks for understanding.

[2016-04-25 16:03] #51 closed

[2016-04-27 15:11] anupvarghese commented on #102
Thanks @jonathan-casarrubias this is a good suggestion.

This looks like a good option for SPA login. I am using it as below in my react client app,
`Login.jsx`
[code]

at `server.js` in loopback app

[code]
Is it possible to create a middleware in the failure case also?

[2016-05-01 15:46] tconroy opened #143 "Fails to redirect after auth, "500 InternalOAuthError: Failed to obtain access token"?"
Hi!

I'm trying to use Loopback + loopback-component-passport to authenticate against a Github Enterprise server. I've customized a version of the github passport strategy to point to my enterprise API endpoints. I've configured the Server similarly to the facebook demo here: https://github.com/strongloop/loopback-example-passport

I can tell the user is authenticating, because they are shown as a

[2016-05-02 06:40] #137 closed

[2016-05-02 20:04] richardpringle commented on #143
Hey @tconroy, I don't really have enough info to help with this. Can you reproduce with facebook at all or is it just with GH Enterprise that you're having issues?

[2016-05-02 23:41] tconroy commented on #143
Heya @richardpringle, thanks for getting in touch.

I just cloned down the `loopback-example-passport` repo and followed along for a facebook app -- it seems to work as expected. I'm unsure why it fails with github since they both follow similar oAuth2 workflow. So I'd say it's just with GH Enterprise. Unfortunately, this app must authenticate through GH Enterprise.

The only thing I can really th

[2016-05-03 01:04] gendigbadig commented on #117
+1

[2016-05-03 05:09] BerkeleyTrue commented on #127
I don't think `UserIdentity.login()` is exposed to the outside world

[2016-05-03 13:10] richardpringle commented on #143
@tconroy, can you do me another big favor? Can you submit a feature request on [loopback-example-passport](https://github.com/strongloop/loopback-example-passport/issues)? It will mean more coming from a community member than coming from me.

[2016-05-03 14:34] tconroy commented on #143
Hi @richardpringle -- sure thing, I posted a request here: https://github.com/strongloop/loopback-example-passport/issues/76

[2016-05-04 00:18] jeff3yan commented on #129
I have confirmed the exact issue and reproduced it using the auth0 login strategy. Other strategies such as facebook or twitter don't use the domain option in their providers.json configuration, avoiding this issue.

[2016-05-04 01:08] jannyHou commented on #129
@jeff3yan @clockworkgr could you upload the code to reproduce this error by forking [sandbox](https://github.com/strongloop/loopback-sandbox) and sending a pr?
Or explain how to reproduce it if the code is not available.

Thanks.

[2016-05-04 01:38] jeff3yan commented on #129
There's not much code to reproduce the issue. I cloned the [loopback-example-passport](https://github.com/strongloop/loopback-example-passport) repository, then add a /providers.json file to use an auth0 passport strategy.

1. Clone the repository and `npm install`
2. `npm install --save passport-auth0`
3. Create a providers.json with the following, and enter in an auth0 access ID and secret.
`
{

[2016-05-04 05:39] Overdrivr commented on #139
According to the README, the email address used for the User model is following this template `user_id_on_provider_plaftorm@loopback.provider.com`. And also, it seems the password for each email is randomly generated, user A or B are not aware of it. So I don't think having two different users with same email will cause an issue here.

[2016-05-05 10:21] srinivas-os commented on #98
+1, having the same issues.

[2016-05-09 12:26] ernie58 commented on #139
I see. I use custom profileToUser functions to match the third-party data to a loopback user.
In those I set the e-mail of the user to the third party main e-mail if provided.
Guess I should not do that.

OTOH, I think the existing approach has a few shortcomings:
  - a user can update his profile info in my application on a settings page, but if he sees user_id_on_provider_plaftorm@loopback.provi

[2016-05-09 12:26] #139 closed

[2016-05-09 12:29] Overdrivr commented on #139
You can use the [passport-local](https://github.com/jaredhanson/passport-local) strategy if you want to unify your login strategy.

However, I do agree with you, this approach of using generated emails is really not ideal.

[2016-05-09 12:34] ernie58 commented on #139
Thx, I'll check it out

[2016-05-10 08:19] Morriz opened #145 "password policy breaks custom password policy"
With a custom password validator that has a policy that passport password creation does not adhere to, it breaks on tmp user creation.

Preferred solution imo: It should be possible to set a custom password generator so it matches the custom validator.

[2016-05-10 12:55] Morriz opened #146 "no hooks for logged in moment, nor any other"
How are we supposed to hook into login moments? I need to set an unsigned cookie to signal a logged in user for my SPA.

[2016-05-11 09:12] Morriz opened #147 "Bad instructions to get email address"
In the readme of this repo I read this:

_If more info is required from the Facebook profile such as email, it could still be obtained. In node_modules\passport-facebook\lib\strategy.js, replace:_

You are asking people to modify code in node_modules. Which is very bad. Is there really no functionality to do this otherwise?

[2016-05-11 22:53] superkhau commented on #147
@loay I recall you working on parts of this update. Do you know if this is a requirement of the module?

[2016-05-12 18:50] cfjedimaster opened #148 "Doc issues"
I tried to make use of this today, but I had to give up as it felt like a bit too much. To be fair, I've never used Passport before, so 99% of my problem probably stems from that. The docs (https://docs.strongloop.com/display/APIC/Third-party+login+using+Passport) talk about installation, and I thought that was literally it. (I mean outside of setting up a FB app, configuration, etc.) Obviously th

[2016-05-12 21:44] superkhau commented on #148
@crandmck ^

[2016-05-12 23:41] crandmck commented on #148
Thanks for the input @cfjedimaster

I added a note to this effect at the top of https://docs.strongloop.com/display/APIC/Third-party+login+using+Passport.

I added a reference in that section to https://docs.strongloop.com/display/APIC/Configuring+providers.json which explains it a bit more.

OK, that part I don't know about...  It's been well over a year since I messed with this component (and wr

[2016-05-12 23:52] superkhau commented on #148
@crandmck I am not familiar enough with this module to answer. Let's get @raymondfeng or @bajtos's input here so you can update the docs with some minimal workaround. I'm not sure when the refactor will happen in our list of priorities TBH.

@jannyHou Can you link to that refactor issue that is related to this?

[2016-05-12 23:57] superkhau commented on #145
Would you like to submit a PR?

[2016-05-13 00:00] superkhau commented on #19
Would you like to submit a PR? We don't have the bandwidth to take this on in the near future, but we could get your contribution bumped for review.

[2016-05-13 00:00] superkhau commented on #131
Can you provide a sample for us to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-05-13 00:02] superkhau commented on #134
Would you guys like to submit a PR with a test case to reproduce your issue?

[2016-05-14 01:57] superkhau commented on #146
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2016-05-14 01:57] #146 closed

[2016-05-16 13:55] elropero commented on #80
@BerkeleyTrue What did you end up doing here?

[2016-05-16 20:24] BerkeleyTrue commented on #80
I overwrote the link method on the userCredential model
[code]

A word of warning, doing this was a bad idea.

90% of our support tickets were from users who created duplicate accounts when they mistakenly used the wrong oauth. We've since made it impossible to create new accounts with all but one oauth.

[2016-05-17 02:30] alexpls commented on #147
From what I've found there is a `profileToUser` function which is exposed and is overridable as part of the strategy's configuration. There doesn't seem to be much documentation around this though, I just found out about it by reading the code: https://github.com/strongloop/loopback-component-passport/blob/master/lib/models/user-identity.js#L122

@Morriz Overriding that function as part of your st

[2016-05-17 05:30] alexpls opened #149 "Setting emailOptional to false still tries to create a user when an email does not exist"
This issue was initially discussed here: https://github.com/strongloop/loopback-component-passport/pull/70/files#diff-441c92c018846ec2058d6d670e18d258R119

When setting the `emailOptional` config option to `false` a user is still created (unless the user model specifically has a validation requiring an email address).

I was able to reproduce this bug by:
1. Setting the `emailOptional` config opti

[2016-05-17 06:52] Morriz commented on #147
Tnx. Saw it. Bad way to deal with this tho. Did you see what goes on in that method?

[2016-05-17 14:13] elropero commented on #80
@BerkeleyTrue Do you mean you allow users to create accounts with email/pass OR oauth? I would think you still might end up with duplicate accounts that way, no?

In any case, I've ended up having to overhaul [passport-configurator.js](https://github.com/strongloop/loopback-component-passport/blob/master/lib/passport-configurator.js), partly related to the issue you encountered (though what we did

[2016-05-17 16:17] BerkeleyTrue commented on #80
Problem is not all o-auth services send back an email. Also, users will create accounts on these services with different emails. You can't always rely on having enough information or the correct information to match up social o-auths. And users won't realize this and blame you for loosing their account and their data.

[2016-05-17 18:33] Lughino opened #151 "Profile data are saved as "[object Object]""
Using this module and how db connector mongodb, the "profile" field of the "UserIdentity" model is saved as "[object Object]", instead of containing the object.

Probably not a issue inherent in this module, instead of the loopback-datasource-juggler module.

[2016-05-17 19:13] superkhau commented on #151
Would you like to submit a PR or steps to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-05-19 09:27] tobernguyen opened #152 "Provide a way to deny login base on profile get from third-party"
When implement login with Google for my application, I have a need to only accept email from domain "abc.xyz". But I couldn't find any way to customize as my need.

Is there any way to achieve that? If not, I would happy to make a pull request.

[2016-05-20 13:09] Shyri opened #153 "login methods are not returning AccessToken model"
Hi,
I was trying the module and I realized that all callbacks for the login with third party providers are returning an object only containing the userId and and access_token string. I wonder why it is not returning the whole AccessToken model, this would be useful in application side where one may need the creation date and the ttl of the access token, and also it will return the userId and the a

[2016-05-20 15:00] yanalavishnu commented on #57
Based on the code local config should be done like this
[code]

[2016-05-23 22:08] Shyri commented on #153
OK, I just saw someone made a pull request for this, I will close and continue there
#103

[2016-05-23 22:08] #153 closed

[2016-05-25 21:46] jeff3yan opened #155 "Social logins generating invalid emails"
I have had success with most types of social logins, however when I try to use Auth0 (which provides its own system for social login) there is a problem.

If I use Auth0's facebook login for example, it will generate a user model with an email that looks like:
`auth0.facebook|myemail@something.com@loopback.com`

This causes an email validation error, not allowing the user to be created.

[2016-05-26 17:58] Lughino commented on #151
Sure!
Here the [repo](https://github.com/Lughino/loopback-sandbox-passport-error-profile)

Hope you help to find the issue.

[2016-05-26 18:43] Lughino commented on #151
Ok, my terrible mistake!
You can close this issue!
Sorry for the trouble .

[2016-05-26 18:43] #151 closed

[2016-05-30 12:03] elropero commented on #57
I've spent the last few days banging my head against this issue. I think it all just clicked for me, but wanted to recap for newcomers.

1) The `afterRemote('login')` solution will only work if you adjust your providers.json to use `/api/users/login` (as opposed to the sample which uses `/auth/local`). When you use `/auth/local` the *remote hook will NOT trigger* (because you are not calling a rem

[2016-06-05 05:19] shuhankuang commented on #57
How can I get the auth-local work example, Now I can't get the accountToken from req.* .

[2016-06-08 15:27] andrehagemeier opened #158 "external id containing @ signs - is that supported?"
According to the loopback-passport documentation it is expected behavior that external ids will return in this format: uniqueID@loopback.provider.com
If an external ID is in an email format however, the resulting id will look like this:
andre.hagemeier@something.com@loopback.provider.com
The default user schema validates the email field and the validation fails for an email address containing two

[2016-06-08 20:24] jannyHou commented on #149
Related fix: https://github.com/strongloop/loopback-component-passport/pull/150
@alexpls Thanks for pointing it out. We will review it asap.

[2016-06-09 09:25] andrehagemeier commented on #158
seems to be the same problem as #155

[2016-06-09 21:11] jannyHou commented on #155
@jeff3yan I belive this is the same problem with https://github.com/strongloop/loopback-component-passport/issues/158

Shall we close this one and keep discussion under that issue?
I copied your question under that one.

[2016-06-09 21:12] jannyHou commented on #158
@andrehagemeier Thanks for bringing up this issue, yeah it's same as #155

I copied description from @jeff3yan
[code]

Let's discuss a possible solution here.

[2016-06-09 21:14] jeff3yan commented on #155
Sure, that sounds good.

[2016-06-09 21:15] #155 closed

[2016-06-09 21:31] jannyHou commented on #152
@tobernguyen I think you can define a custom validator:
See how to define and use a custom validator by doc: http://apidocs.strongloop.com/loopback-datasource-juggler/#validatable

[2016-06-10 08:47] deksden commented on #15
Look in this thread: https://github.com/strongloop/loopback-component-passport/issues/19

[2016-06-10 09:19] deksden commented on #19
IMHO, whole idea of UserCredential is to add some accounts, that ARE NOT identify current user and link them together. This is really strange case to be added as generic solution for framework. If you need to wotk with several Facebook accounts linked to singe user, just add some array of accounts. Why add new model?

IMHO, UserCredential should be totally removed. this weird conept makes https://

[2016-06-10 09:39] deksden commented on #15
IMHO, difference of OpenID and OAuth is that OAuth have some ACLs attached to login token, while OpenID is pure login token with 100% access to account.

Than, maybe, you think that UserCreditential is a storage for linked accounts with limited access, while UserIdentity is account with full access.

Not sure if rare case of storing limited logins is good to include in generic framework.

[2016-06-18 14:32] dineshvgp opened #159 "I am not getting refresh token"
My providers.json:

[code]

My user identitytable has only `{"accessToken":"XXXX"}` in the credentials column.
How can I get refresh token also some thing like this,
`{"accessToken":"XXXX","refreshToken":"YYYYY"}`

[2016-06-20 14:27] kashifeqbal opened #160 "Third Party Login creates different email uniqueID@loopback.facebook.com"
If a person using facebook and gmail for login, in both the account email address is same, but it create two different user account. And User model should have original Email address rather creating a email like this

While in file user-identity.js, there is a

[code]

var email is taking up original email from profile object. If that email is undefined then only it's create a Fake an e-mail.

So

[2016-06-20 14:32] kashifeqbal commented on #159
Refresh Token field is only present if _access_type=offline_ is included in the authentication request. For details, see Refresh tokens.

[2016-06-21 09:14] PhuongNL commented on #160
you edit this line
`var email = provider === 'ldap' ? profileEmail : generatedEmail;`
to
`var email = provider === 'ldap' ? profileEmail : profileEmail ? profileEmail : generatedEmail;`

[2016-06-26 22:34] hackerunet commented on #57
I got to the same conclusion after 2 days hitting against my laptop. If I don't have any remote hook called /auth/local how can this work?, I supposed passport-local strategy automatically posted the remote hook via providers.json which I think it does it. but I'm not very sure about it, so, I can see there are still problems with this component, so would be easier to use passport alone as it's su

[2016-06-27 04:29] jannyHou commented on #160
@kashifeqbal I think this is the related pr: https://github.com/strongloop/loopback-component-passport/pull/113

[2016-06-27 04:35] jannyHou commented on #158
@raymondfeng Users face a validation problem when the external ID is in email format:

If an external ID is in an email format however, the resulting id will look like this:
andre.hagemeier@something.com@loopback.provider.com

Any thought to fix it or avoid this?

[2016-06-27 04:37] jannyHou commented on #152
@tobernguyen Does the above solution fix your problem? I am glad to discuss here if you need any help.

[2016-06-27 04:44] jannyHou commented on #125
@yayolius sorry for responding late, yes your understand is correct.
And to get your link work, take facebook as an example, you need to replace the `cliendID` and `clientSecret` with your own fb credentials. Please follow this doc for details: https://docs.strongloop.com/display/public/LB/Third-party+login+using+Passport

[2016-06-28 00:56] jeff3yan commented on #127
I'm also unsure of the best practice of using UserIdentity.login(). The current passport strategy usage only uses the _redirect_ method of logging a user in.

For providers such as Auth0, they provide their own client-side widget, which can be styled and embedded directly onto the page. The jwt can then be decrypted on some public loopbackjs endpoint, then UserIdentity.login() called using their d

[2016-06-28 01:52] BerkeleyTrue commented on #127
UserIdentity.login does not need to be used directly. This module is meant to interface loopback and passport. You simply use the proper redirects for the 3rd party O-auths and this module takes care of the rest.

As far as the main issue here, UserIdentity.login is not exposed through the api and as so is not a security issue. This issue can be closed. @jannyHou

[2016-06-28 18:22] jubbens commented on #127
Thanks @jeff3yan @BerkeleyTrue. I agree, this can be closed if login is not supposed to be used like this.

[2016-06-28 18:44] BerkeleyTrue commented on #127
For reference, here are the relevant files that we use at FreeCodeCamp to make this work:

https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/server/component-passport.js
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/server/passport-providers.js

And how we load it on server boot:

https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/server/server.js#L10
https://github.com/

[2016-06-29 11:07] hackerunet commented on #57
I found the way to get passport installed and running using passport plugin as standalone and removed loopback-passport-component , basically I got express session object access and serialize the token received after req.login procedure which is the standard loopback procedure to control access to the API.
So, due to the loopback component existent issues and the relatively differences between doc

[2016-06-29 22:55] jameslk opened #161 "Cannot make email verification optional anymore"
Due to this commit/line:

https://github.com/strongloop/loopback-component-passport/commit/4cf8153a7b11ace76bf75977fa9ca238cf8910ad#diff-0d9ea68c1756ce2fc5c960b5796850aaR307

An email verification check has been hard coded regardless of whether email verification is enabled or not.

[2016-07-01 22:23] wprater commented on #49
thanks to work above, I created a new branch based off latest `2.1.0`.

[2016-07-02 00:28] etsuo commented on #160
I believe I'm running into this problem too. A user logs in with Facebook, which returns an email address that matches that user's existing local account; loopback-component-passport creates a new user with the email address {facebookId}@loopback.facebook.com.

This is documented as the expected behavior in the documentation: [here](https://github.com/strongloop/loopback-component-passport/blob/5a

[2016-07-03 18:15] etsuo commented on #160
@jannyHou, I can't speak for @kashifeqbal, but for me  the mod by @PhuongNL works.

Is there a plan to merge this?

[2016-07-13 07:27] SyedSulaimanM commented on #159
Hi, i think you missed the link for 'Refresh Token', Can u please share the link.

[2016-07-15 07:31] btassone commented on #95
Hey guys any progress on this? I need to extend the user model in one of my projects and I wanted to use loopback 3.x. Sadly the fix up above is only slated for 2.x (the temporary fork is what I am talking about). Is there any timetable for when this will be fixed?

[2016-07-15 14:00] jonathan-casarrubias commented on #95
I'm starting a project with loopback 3 and will need to use the component passport, I'll see how it goes and update here

[2016-07-16 12:49] hackerunet opened #164 "Loopback passport local strategy and angular lb-services component"
Hello, I've been using loopback and a basically hardcoded passport integration into my loopback application that is causing me more pain that usefull solutions, so I need some answers to be able to determine what would be the best and continue.
1) Is it possible to use passport with loopback and declare a login route to render a specific layout / view in EJS which will also use angular lb-services

[2016-07-19 15:06] hackerunet commented on #99
Dear developers, I've been looking a lot on this error, the problem root is basically or could be basically lack of UP TO DATE documentation.
In my case I'm receiving
TypeError: req.flash is not a function
So, why is that been triggered? In the official stronloop documentation a reference to a passport template is always suggested:
`https://docs.strongloop.com/display/public/LB/Configuring+provide

[2016-07-19 15:55] hackerunet commented on #99
SOLVED: my issue was that I splitted routes in a separate file and flash usage needs to be exactly after passport init, so when I removed the flash from routes and got it into server.js again, it worked. Regarding the original problem posted by @gausie I'm getting the error messages in my final failure redirect page, so, everything seems to be working fine so far, maybe there are more available op

[2016-07-20 02:03] hackerunet commented on #45
I'm sorry how was it fixed? I have the version "loopback-component-passport": "^2.1.0", installed and I have the headers problem.
I have in passport.json:
`{
  "local": {
    "provider": "local",
    "module": "passport-local",
    "usernameField": "email",
    "passwordField": "password",
    "authPath": "/auth/local",
    "successRedirect": "/private",
    "failureRedirect": "/login",
    "failu

[2016-07-20 03:15] hackerunet commented on #57
Finally this issue is totally solved using this issue: https://github.com/strongloop/loopback-component-passport/issues/57
"loopback-component-passport": "git+https://github.com/jamesjjk/loopback-component-passport.git"
No more headaches.. thanks a lot @julien-sarazin , have spent so many hours looking around for solutions, I learned a lot, but you did it.. thanks a lot man...!!

[2016-07-20 15:30] jannyHou commented on #161
@jameslk I think this pr forces local email verification on purpose. Please take a look at the doc for this change: https://github.com/strongloop/loopback-component-passport/commit/4cf8153a7b11ace76bf75977fa9ca238cf8910ad?diff=split#diff-04c6e90faac2675aa89e2176d2eec7d8R13

[2016-07-20 17:30] jameslk commented on #161
@jannyHou In the documentation for user registration, there appears to be an option to enable and disable email verification, and it's disabled by default:

https://docs.strongloop.com/display/public/LB/Registering+users#Registeringusers-Verifyingemailaddresses

So if email verification is not an option, perhaps the documentation needs to be updated. However,  I think some (including myself) may n

[2016-07-20 19:37] jannyHou commented on #161
@loay Could you help confirm that the option for emailValidation is removed? Thanks!
And any thought about:

?

@jameslk Thanks for pointing out the difference between doc and code. We will update it then!

[2016-07-20 20:09] loay commented on #161
Hi @jameslk @jannyHou
Thanks for pointing this out.
yes, as stated in the `readme.md` file, all local accounts require verification for security reasons. I will look into the document updates, as well  giving the options as well. I will get back to you on this part.

in the mean time, you have two options:
- revert back the back to give the option not to verify the email.
- set by default emailVer

[2016-07-21 16:02] hackerunet commented on #57
I'm sorry to insist on this, but I have a question to @julien-sarazin, the access_token stored in the cookies is hashed. How can I use it? should I decript/dehashed the access_token first before sending the requests to my api server? or should I just send it like it is (hashed) and loopback will dehash the access_token for me? any docs about it?

[2016-07-22 04:43] loay opened #167 "Refactor Nested functions"
Too many nested functions, specifically in `passport-configurator.js`

[2016-07-26 18:26] yotamsha commented on #147
I had to override this function as well. But it seems like a bad idea since there is some functionality there which I had to repeat, like the dummy password hash generatation. (plus I couldn't find any clear documentation about this)

[2016-07-26 20:21] clockworkgr commented on #147
Yep, you do not have change to override strategy.js.

This issue was originally referenced here https://github.com/strongloop/loopback-example-passport/issues/50 when FB changed their default response.

Somehow a recommendation to override a function on an external package such as passport-facebook  is considered a cleaner solution than a configuration setting to ask for the facebook profile field

[2016-07-29 23:49] hackerunet commented on #57
Dear group, I'm still facing issues with this passport aproach even with the  @julien-sarazin repository, after I successfully login I enabled the security debug mode to see why I get DENY response in every request made to the API.
The login works and I see in the browser cookies
access_token: ""s:Qte2qXpncpqe9vi9LduF78FjjMiCFrIGXGVBV4Uh8a1IelylFtgFdQj1xmKrFNGG.elA1qIs/QmUvaFYhx+lvn6jocYcPzQU2HOrs

[2016-08-01 16:01] hackerunet commented on #57
any thoughts?? can someone give me a hint or a hand?? please...

[2016-08-01 19:02] elropero commented on #57
Hey @hackerunet -- I went through a similarly frustrating process getting this component to behave as I liked. Like @julien-sarazin I forked the repo and customized it to do what I needed.

Could you create a public repo that demonstrates your specific issue? Would be easier for myself and/or others on this thread to debug. Also, the problem may make itself obvious if you try to create a trivial e

[2016-08-02 22:36] hackerunet commented on #57
Thanks a lot @elropero , about 1 hour ago I made everything work, I forgot to add in passport.js configuration cookies:true for example, after I finally realize that the options parameter is needed (conclusion I got checking out the passport configurator js file in node modules) I was able to get my user succesfully loged in and recognized by the API end point, but after that, I got a Roles resolv

[2016-08-03 08:56] elropero commented on #57
I hear you @hackerunet. I know they have been working hard on 3.0, I hope as you do that some of the documentation gaps will be filled in. A lot of the docs are decent, and I don't think this passport module is indicative of the broader set. However, this module has caused a lot of head-scratching from those on this thread. Agree that without the community it would have been very difficult to get

[2016-08-03 14:35] hackerunet commented on #57
Thank you andrew. Well, that's why is a great community, people like you
are really y worried about strongloop programmers. Thanks a lot.
El 03/08/2016 07:10, "Andrew Roper" <notifications@github.com> escribió:

[2016-08-04 10:23] ghislaindj commented on #63
Same problem here !

[2016-08-04 21:21] pvijeh commented on #60
how is this achieved ?

[2016-08-11 07:58] benawarez opened #171 "Local Passport Issue"
I'm able to successfully logon using google and facebook but when I logon using the Local Passport with  unverified email, I get the following:

Error: Can't set headers after they are sent.
    at ServerResponse.OutgoingMessage.setHeader (_http_outgoing.js:335:11)
    at ServerResponse.res.setHeader (F:\ScreenPostsWork\node_modules\loopback-explorer\node_modules\express\node_modules\connect\lib\p

[2016-08-11 18:51] benawarez commented on #171
Update:
When I remove "setAccessToken": true option, I get a response of status 200 when I'm supposed to be expecting the "Invalid username/password or email has not been verified" error message as  defined in the passport-configurator.js.

Any thoughts?

[2016-08-13 00:15] ebarault commented on #125
@jannyHou : hi,
i'm using the exact same configuration and when trying to GET on the link callback, i get the following error:
[code]
what it this `link.html` link supposed to be?

[2016-08-13 01:36] ebarault commented on #125
@jannyHou Hi,
I'm running the exact same provider configuration and when doing a GET on the `/link/facebook` url, the request is redirected to `/link.html` all the time, which is not available.
No further action is undertaken by loopback or passport from this stage, no entry is added in the UserCredential collection.
What is this `link.html` supposed to be?

[2016-08-14 15:45] git2g commented on #26
+1
Also, the [example](https://github.com/strongloop/loopback-example-passport) doesn't actually implement an Angular client using lbservices and LoopBackAuth. Having that would help the community.

[2016-08-14 15:46] git2g commented on #164
+1

[2016-08-14 23:41] git2g opened #173 "Issues with openid connect strategy around user's email and accessTokens when trying to authenticate from the callback url"
Two issues with openidconnect strategy when calling passport.authenticate using either default or customCallback:
- When the user.email has a email id (such as `x@us.ibm.com`), [you guys are appending @loopback.provider.com](https://github.com/strongloop/loopback-component-passport/blob/master/lib/models/user-identity.js#L58) which is failing with dao.js:

[code]
- Another issue has to do with [us

[2016-08-16 22:10] jduhls commented on #161
Can anyone speak about the security implications of honoring user model options per loopback docs similar to:

`if (ok && (user.emailVerified || !self.userModel.settings.emailVerificationRequired))`

re: https://github.com/strongloop/loopback-component-passport/commit/4cf8153a7b11ace76bf75977fa9ca238cf8910ad#diff-0d9ea68c1756ce2fc5c960b5796850aaR307

[2016-08-17 18:34] jannyHou commented on #26
@git2g Thank you, your suggestion looks good 👍

[2016-08-18 09:23] cslinmiso commented on #160
No offense, but I wonder this very feature is really what people need?

[2016-08-19 12:13] Freundschaft commented on #173
which openid connect strategy are you using? https://github.com/jaredhanson/passport-openidconnect?

[2016-08-19 12:49] git2g commented on #173
@Freundschaft - [https://www.npmjs.com/package/passport-idaas-openidconnect](https://www.npmjs.com/package/passport-idaas-openidconnect)

[2016-08-19 13:24] Freundschaft commented on #173
I think you can fix this by customizing profileToUser in the providers.json

https://groups.google.com/forum/#!topic/loopbackjs/vTZdq8W9BU4

[2016-08-20 01:19] acrodrig commented on #159
I am having the same issue. How do I make passport configurator pass along the `access_type`? I am adding it to the providers JSON with no luck. Thanks!

[2016-08-24 21:27] dakotahNorth commented on #57
@hackerunt ... that is awesome that you got it to work. So far I have been unsuccessful. Can you please provide details of what you did to get this working?

[2016-08-25 05:24] ahmed-abdulmoniem opened #174 "link is not working. Always req.user undefined!"
Hi Guys,

Any clue on this discussion

https://groups.google.com/forum/#!msg/loopbackjs/JGPmOiwWr2U/PkJF3KkMWkMJ

I created the LoopBack user, logged in, and then tried `/link/facebook`. Upon successful Facebook login, I got the profile returned. However, the `req.user` is undefined, and I got `done('No user is logged in')` at line `297` of `passport-configurator.js`. Any idea why the `user` is no

[2016-08-25 14:46] dakotahNorth commented on #57
Following @hackerunet note above, I used @jamesjjk "loopback-component-passport": "git+https://github.com/jamesjjk/loopback-component-passport.git" and have been able to get it to work 90% of the way. The last remaining issue is that REST based calls for local logins don't authenticate.

Facebook and Google (both logging in and REST based calls) work like a charm ... and local logins work except f

[2016-08-25 21:10] clockworkgr commented on #160
@etsuo : Possible scenario...

Let's say I know you have an account on a "sensitive" loopback based service..I don't know your password for that service but due to some clever social engineering or an unattended laptop at work or something, I have access to your fb password or a logged-in fb account...

Presto, I have access to your account at the sensitive loopback service.

Second scenario: I ha

[2016-08-25 22:13] ahmed-abdulmoniem commented on #174
Any clue guys?

[2016-08-26 01:15] hackerunet commented on #57
Well i don't have a very well documented procedure but i think everything
is up to configuration and the replace of the original loopback passport
component with the suggested repository forked. Let me get a procedure in
next days amd i'll post it. I have it working 100%
El 25/08/2016 10:47, "Dakotah North" <notifications@github.com> escribió:

[2016-08-26 19:42] ahmed-abdulmoniem commented on #174
Up Guys?!

[2016-08-26 19:43] ahmed-abdulmoniem commented on #174
@raymondfeng ?

[2016-08-26 22:05] renanwilliam opened #175 "Multiples 'providers.json' according environment"
I have different callbacks in my production, test and development environment. With CI is hard to maintain.  There's a way do support multiples providers/environments?

[2016-08-26 22:35] renanwilliam commented on #175
Sorry, found solution here:

`// attempt to build the providers/passport config
var config = {};
try {
    switch (app.get('env')) {
        case "production" :
            config = require('../providers.json');
            break;
        default:
            config = require('../providers.' + app.get('env') + 'json');

    }
    config = require('../providers.json');
} catch (err) {
    //if not

[2016-08-26 22:35] #175 closed

[2016-08-26 22:46] superkhau commented on #174
@davidcheung @richardpringle PTAL

[2016-08-27 02:42] renanwilliam commented on #152
@jannyHou but the custom validor will be called automatically or it's needed include a hook 'before save' to validate?

[2016-08-27 15:43] ahmed-abdulmoniem commented on #174
Any clue guys!

I am stuck in this issue 3 days now!

@raymondfeng @davidcheung @richardpringle ?

[2016-08-27 21:17] saurabh73 commented on #63
Any Update on this???

[2016-08-29 08:13] ahmed-abdulmoniem commented on #174
Any clue guys!

@raymondfeng @davidcheung @richardpringle ?

[2016-08-29 16:26] richardpringle commented on #174
@loay would have a better idea

[2016-08-29 16:32] superkhau commented on #174
@ahmed-abdulmoniem Can you provide a sample repo to reproduce the issue? @richardpringle @davidcheung Can you guys confirm the issue reproduction, escalate and assign to @loay accordingly?

[2016-08-29 17:36] superkhau commented on #174
@ahmed-abdulmoniem Side note, we all have many priorities on this list to go through and may not get you an answer immediately. If you need support right away, please see our subscription packages at https://strongloop.com/node-js/subscription-plans/

[2016-08-29 17:37] ahmed-abdulmoniem commented on #174
It is just simple .. using the example of loopback passport .. I use link

I just want to know if it is working on your side or not guys?

For me it is not .. and many other people are complaining about that!

[2016-08-29 17:59] superkhau commented on #174
It may be simple, but it still takes us time to reproduce the issue and pinpoint what is going on. That's why we ask for a sample repo on your end so we can skip those details to confirm whether it's an issue with the component or your usage: see https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

If you can provide us a sample repo, we can just run it on our end, confirm the

[2016-08-29 19:43] loay commented on #174
Hi @ahmed-abdulmoniem ,
I just tried and it works fine for me.
Please make sure that you have a valid `client id` and `client secret id` and they are properly inserted in `facebook-login` and `facebook-link` in `providers.json`.

If it is still not working, we will need a sample app to reproduce as explained by @superkhau
Thanks.

[2016-08-29 21:31] ahmed-abdulmoniem commented on #174
@loay OK I would like to ask if I need to use passport-local as well instead of the normal User.login loopback method?

[2016-08-29 22:03] clockworkgr commented on #174
@ahmed-abdulmoniem  Works fine for me. As I mentioned in the google groups thread, make sure you're  making a correctly authenticated request to link/facebook after you've logged in.

Loopback-example-passport is a session-based authentication for example.

You mention passing the access token as a query var (so you're not using the session-based mechanism from loopback-example-passport). I am not

[2016-08-29 22:16] ahmed-abdulmoniem commented on #174
I am using session and cookies middleware but I don't know why it is not working!

This is my server file:

[code]

[2016-08-29 22:27] ahmed-abdulmoniem commented on #174
BTW my callback URL has the access token returned back from Facebook but because req.user is undefined I go to the failure url

[2016-08-29 22:51] clockworkgr commented on #174
The code in the fb callback is likely facebook's access-token...not the LP token...

Anyway, unless you can provide a stripped-down repo to reproduce the issue, it's unlikely anyone can help.

The example implementation in loopback-example-passport works just fine. You log in with a local account and a session is created for that user so all subsequent requests to LB using that session id correctl

[2016-08-30 01:50] ahmed-abdulmoniem commented on #174
If it is session based, then I have my client code (Angular) in totally different separated site (http://localhost:8080) and my back end code (Loopback) in a totally different separated site (http://localhost:3000) ..

So, sessions will not work then because the two sessions are different?

[2016-08-30 14:38] flam312 commented on #174
@ahmed-abdulmoniem

It could be that your Angular request is not using the session created for Loopback. After a successful facebook login can you try creating a end point in loopback to return req.user and call that end point directly via the browser to see what that gives you?

[2016-08-30 19:23] ahmed-abdulmoniem commented on #174
I don't have that much control after login directly I am redirected to facebook callback which redirects me to the failure page all from within loopback-component-passport ..

How to create such end point in between this process?

[2016-08-30 19:49] flam312 commented on #174
Ok lets take a step back. Can you login with the local account you are trying to link with facebook and then hit the new end point to return a logged in user. It can be as simple as:

app.get('/whoami', function(req, res){
  if(req.user) res.json(req.user);
  else res.send(‘No User’);
});

If you still don't get a user then there maybe a problem with your session config.

[2016-08-30 20:22] ahmed-abdulmoniem commented on #174
I am using Angular SDK and User.login method .. so I am not creating custom vanilla express end points .. I am using remote methods.

In remote methods I receive the access token correctly.

[2016-08-30 20:25] ahmed-abdulmoniem commented on #174
I have added the end point as you advised and I received no user!

[2016-08-30 20:39] ahmed-abdulmoniem commented on #174
This is my configuration:

[code]

[2016-08-31 04:08] dakotahNorth opened #176 "How to use signed cookie for an ajax REST call?"
The code below makes an ajax call to delete an answer by calling the REST api and then removing the answer form the web page (by hiding the div the answer was in.) This all worked before I added passport support. Signed access_tokens were introduced with passport support and now the call below doesn't work because the string being passed into the REST api is signed (which is not what the REST api

[2016-08-31 04:14] dakotahNorth commented on #57
Note above about Facebook and Google both working like a charm ... they work if I force the cookies to be written not to be signed. So I forced signed to be false in the code below. Therefore, the token that is set can be used directly in the REST call. Otherwise ... I get authentication failed.

     function addCookies(req, res, user_id, access_token, ttl) {
     res.cookie('access_token', acces

[2016-08-31 06:33] ahmed-abdulmoniem commented on #174
@flam312 Any clue? Or something I should change in my configurations?

[2016-08-31 13:09] flam312 commented on #174
@ahmed-abdulmoniem

I was rereading this thread and I believe you have to use passport-local to login instead of the default User.login. I tried logging in to a local account using User.login and that does not create a session for me. All of my projects have a login end point defined at the express level much like the passport example:

https://github.com/strongloop/loopback-example-passport/blob/

[2016-08-31 16:48] ahmed-abdulmoniem commented on #174
@flam312 This would be a big drawback ..
I am using loopback for a current running application right now with some customers and changing the way we login will affect all of our application logic!

Plus, we have two entities who can login with two different set of properties and business logic (so we can't use roles) and loopback-component-passport only using one entity for the user .. and each tw

[2016-09-01 05:08] btassone commented on #95
@jonathan-casarrubias Any luck?

[2016-09-01 14:33] jonathan-casarrubias commented on #95
@btassone we did start the project in LoopBack 3 and were able to use the fork version I published without problems.

Anyway, I had to take the decision of rolling back to version 2, not because of issues with this module, but because the version 3 alpha present many issues that the version 2 does not present, many of these were issues with HasMany relationships.

So, again we were able to use it

[2016-09-06 10:29] ddelizia opened #177 "Allow single page application Login via Facebook (client login)"
I have been using loopback-component-passport with facebook login flow. As I'm moving to a single page app, I'm doing the facebook login using the FB sdk as described here: https://developers.facebook.com/docs/facebook-login/web

[code]

I'm able to retrieve the FB access token with the FB sdk, and sending the `response.authResponse.accessToken` value to `GET http://localhost:3000/auth/facebook/ca

[2016-09-12 20:10] jannyHou commented on #26
@eugenehp Sorry I am not an expert in setting up angular app lol, could you fork https://github.com/strongloop/loopback-sandbox and replace it with the **FULL** app to reproduce the error? Really appreciate your contribution and time spent on it! Thanks!

[2016-09-12 20:29] jannyHou commented on #159
@dineshi2it @SyedSulaimanM @acrodrig Does this solution work? http://stackoverflow.com/questions/8942340/get-refresh-token-google-api

[2016-09-12 20:35] jannyHou commented on #127
Thanks everyone! Really appreciate you discussion and reference provided!

[2016-09-12 20:35] #127 closed

[2016-09-12 20:45] jannyHou commented on #126
I am labelling this issue a feature to either add a doc explaining how to extend component-passport with custom auth, or if we are not extendable enough, to implement some apis to make it easy to work with custom authes.

[2016-09-13 16:21] dakotahNorth commented on #57
Hey ... @hackerunet, any chance to upload that configuration?

[2016-09-13 17:10] hackerunet commented on #57
Yes. I've been sick and not be able to open up my laptop again, ill upload
it as sooners as i get better.
El 13/09/2016 12:21, "Dakotah North" <notifications@github.com> escribió:

[2016-09-14 01:28] dakotahNorth commented on #57
Feel better and thanks!

[2016-09-16 18:40] hackerunet commented on #57
// Passport Configuration for Local provider

{
  "local": {
    "provider": "local",
    "module": "passport-local",
    "usernameField": "email",
    "passwordField": "password",
    "authPath": "/api/account/login",
    "successRedirect": "/private",
    "failureRedirect": "/login",
    "failureFlash": true,
    "setAccessToken": true,
    "session" : true,
    "callbackHTTPMethod": "post",

[2016-09-17 17:04] sebastianfelipe opened #179 "Login (auth and link) Issues"
Hi everyone, recently I've been implementing this tool, and doing some tests I found that some use cases are rare. Here's the thing:

First case:
- ClassicUser (email + password) link a Facebook account (call it FacebookLink)
- After that, you want to log in with you facebook account, so, you use /auth/facebook
- Between the step before and this step, it doesn't return the ClassicUser information

[2016-09-19 19:40] dakotahNorth commented on #57
Awesome ... thanks!

Cleared up all of the issues except for 1.

Rest based calls.

I discuss this over at #176. Basically, from the code below from [passport-configurator.js](https://github.com/jamesjjk/loopback-component-passport/blob/master/lib/passport-configurator.js), the cookies are being set as signed:

     function addCookies(req, res, user_id, access_token, ttl) {
     res.cookie('acces

[2016-09-23 18:33] ntrinquier commented on #134
I confirm that in my case, adding the middleware
[code]
solved the problem.

[2016-09-26 08:53] gvillenave commented on #26
@eugenehp Your issue is because you need to split on the ':' first, and then the '.'. This code is working for me:
`var accessToken = $cookies.get('access_token');
var userId = $cookies.get('userId');
if (accessToken && userId) {
    accessToken = accessToken.split(':')[1].split('.')[0];
    userId = userId.split(':')[1].split('.')[0];
    LoopBackAuth.setUser(accessToken, userId);
    LoopBackAut

[2016-09-27 17:32] acrodrig opened #182 "Have a mechanism to handle different environments"
My application has different servers for UI and API. As such, the `providers.json` redirect URLs need to be different (they are absolute URLs). I would love to have a similar mechanism to Loopback, where I could define different providers for different environments:

1. `providers.json` for production
1. `providers.staging.json` for staging
1. `providers.development.json` for development

All of t

[2016-09-28 09:32] mamartins commented on #95
1 year after and we're still here :p

[2016-09-28 13:10] btassone commented on #95
You'd think a critical piece like this would get a bit more attention.

[2016-09-28 13:45] loay commented on #95
@mamartins @btassone
I will have a look today at the PR.

[2016-09-28 13:54] btassone commented on #95
@loay My hero :D

[2016-09-28 14:02] clockworkgr commented on #95
see https://github.com/strongloop/loopback-component-passport/pull/168

needs rebasing but I'm currently in the middle of relocating for work so won't have time for a couple more weeks

[2016-09-28 14:03] loay commented on #95
yeah I was about to wonder why did you close the main PR then I saw a replacement. I will try to rebase myself and see where it goes.

[2016-09-28 14:59] loay commented on #84
Hi @justinlindh It looks like the issue is fixed as per the PR mentioned in the previous comment.
Can you please confirm? Thanks.

[2016-09-28 15:26] loay commented on #99
I this issue still persisting? Can I close this one?
Thanks

[2016-09-28 15:34] justinlindh commented on #84
Yeah, this has been resolved.

[2016-09-28 15:34] #84 closed

[2016-09-28 20:14] loay commented on #95
here is an update:
The pr needs units tests which is a must before merging to detect any regression. The rebasing will take some time too. The code itself looks fine to me logically, so I will try to work on the whole thing as soon as I can. I will keep you guys updated.

[2016-09-28 20:28] mamartins commented on #95
Good to know!

In the mean time I developed my own solution, not as generic as this one but suits my needs :)

[2016-09-29 08:55] derdeka opened #184 "Local Passport: ReferenceError: login is not defined"
Hi everyone,

i tried to setup local passport auth with loopback-component-passport 2.2.0. I'm using node 6.3.1
When setting the option setAccessToken to true, i get a reference error "login is not defined".

It seems that the function login at passport-configurator.js@L297 is used before it is defined.

This is the stacktrace i get:

   [ 'ReferenceError: login is not defined',
     '    at C:\\P

[2016-09-29 13:15] btassone commented on #95
Thanks so much guys! We've had a few projects where this has been a huge roadblock so it will be nice not to run into this issue anymore. Thanks for your hard work!

[2016-09-29 14:56] #149 closed

[2016-09-30 18:14] royklopper commented on #159
Hi @dineshi2it, if you would like to retrieve a refreshToken you indeed need to set "accessType" to "offline"

You can configure your provider as follows:
`{
  "google": {
      "provider": "google",
      "module": "passport-google-oauth",
      "strategy": "OAuth2Strategy",
      "clientID": "{google-client-id}",
      "clientSecret": "{google-client-secret}",
      "callbackURL": "/link/google/

[2016-09-30 18:34] zschmid commented on #65
In reading through lib/passport-configurator.json there is a block that reads:
Line 464
`            if (info && info.accessToken) {
              if (!!options.json) {
                return res.json({
                  'access_token': info.accessToken.id,
                  userId: user.id,
                });
              } `

Basically what this says is that by setting a 'json' option for your

[2016-10-05 02:02] acrodrig opened #185 "Refresh Token gets overwritten on second login (for Google Login)"
I have a problem that I do not know how to solve. Looking at the code at:

https://github.com/strongloop/loopback-component-passport/blob/master/lib/models/user-identity.js#L108

It seems that the `loopback-component-passport` will overwrite the credentials every time I do a login. Google only offers the `refreshToken` on the first login when you want offline access.

That means that the second ti

[2016-10-05 14:39] loay commented on #184
@derdeka I am having a look.
Was it working on a previous node version and it stopped working in node6?

[2016-10-05 15:26] loay commented on #184
Hi @derdeka

in file `lib\passport-configurator.js`,  line 301:
replace:
[code]
by

[code]

I will fix it in the main repo and try to get it released ASAP. Thanks.

[2016-10-05 21:00] loay commented on #184
Issue is fixed. Closing

[2016-10-05 21:00] #184 closed

[2016-10-07 18:19] loay commented on #147
Thanks for pointing that out.
- readme file will be updated shortly.
- A pr is created to fix that issue is `loopback-example-passport` and it will be merged shortly.
- Documentation is updated: http://loopback.io/doc/en/lb2/Configuring-providers.json.html#example-providersjson

[2016-10-07 20:32] loay commented on #177
Hi @ddelizia
Please follow this thread: https://github.com/strongloop/loopback-example-passport/issues/11
Thanks

[2016-10-07 21:00] loay commented on #182
Hi @acrodrig
Unfortunately, no it is not on the `soon-to-be-done` roadmap.
You can submit a PR if you have a work around or I can make a feature request for you.
The current workaround would be editing the server.js file as in here: https://docs.strongloop.com/display/public/LB/Configuring+providers.json
You can have the three files there and change it according to your needs and comment out the u

[2016-10-07 21:04] acrodrig commented on #182
Sounds good. I think it should be easy enough to load a different `provider.json` file based on the `NODE_ENV` variable. Thanks. Consider it solved on my end.

[2016-10-07 21:04] #182 closed

[2016-10-11 14:48] jerowe commented on #26
+1 for having a full example with loopback and passport auth.

Thanks for the great project!

[2016-10-11 17:34] loay commented on #147
Both PR merged. Closing issue.

[2016-10-11 17:34] #147 closed

[2016-10-20 19:42] ehrasmo commented on #125
I'm getting the same link.html redirect after success using google authentication, no idea what's this link.html all about.

[2016-10-26 03:21] acrodrig commented on #185
No one?

[2016-10-27 20:26] danielmihai commented on #125
I don't get the link error, but when FB calls the callback with the code, it fails to link the account and redirects to the failureRedirect path from the Facebook provider configuration. the FB request succeeds, only the validation FB link operation fails on callback data validation. I have the passReqToCallback set to true.

[2016-10-28 17:06] danielmihai commented on #179
I subscribe to the same issue. I have the same problems, couldn't say it better myself :)
:+1:  @sebastianfelipe

[2016-11-04 11:34] hristo-vrigazov commented on #83
How to enable google authentication in a similar way? I tried the answer of @sanandrea , just replacing everywhere Facebook with Google, but nothing happens.

[2016-11-06 19:54] chkuendig commented on #161
I just ran into the same issue. I'm working on an app where signup-friction is a massive concern. Any way to resolved this without resorting to our passport integration?

[2016-11-14 17:17] tatemz opened #189 "userModel.hasMany is undefined"
My error:
[code]

Triggered by:
[code]

My models look identical to the ones in  [loopback-example-passport](https://github.com/strongloop/loopback-example-passport/tree/master/common/models)

[2016-11-16 20:11] chkuendig commented on #57
Got it to work thanks to the branch of  @jamesjjk  - this is really something which needs to be fixed in mainline (or some easy explanation on how to access /api endpoints with the connect-sessions from passport)

[2016-11-16 20:21] chkuendig commented on #160
This really depends on the use case, if you have a consumer-app without much sensitive data and try to minimize any login/signup friction (e.g. mobile game, newest social whatever app) you'd want to merge.

Best would be to make this optional...

[2016-11-18 09:13] mackwan84 commented on #161
+1 I am also facing the same issue. Since in China, email is not so popular for the public. Is hard for us to require email account during registration.

[2016-11-22 06:06] loay commented on #99
Closing issue.. if issue still persists, please leave a comment and I will re-open it. Thanks

[2016-11-22 06:06] #99 closed

[2016-11-29 08:01] BilalDja commented on #63
I guess you can create a customCallback(req, res, next) and call the passport.authenticate(err, user, info)
My personal problem is how to distinguish between a newly created User and just a logged in user??

[2016-11-30 15:27] scottmcdonnell commented on #177
try adding
[code]

[2016-11-30 15:37] scottmcdonnell opened #193 "url param response instead of json"
Currently my react app is opening the api passport auth  in a pop up and listening for the json response  (provider has  `"json": true `) .
This works fine but the json response is visible before the popup closes.

Is there a way instead to have the access_token and userId instead set as URL params so they can be read without being visible?

[2016-12-02 09:22] tention commented on #151
@Lughino Was this question raised because you can not retrieve the fields value out from the Profile objects?

[2016-12-07 21:20] rodplata opened #196 "Cannot read property 'id' of undefined"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Using the example/starter code
After the successfully login with OpenID, at the callback function I get
`502 Bad Gateway: Registered endpoint failed to handle the request.`
in
`/auth/ibm/callback`

and the Log shows:
[code]
And I can see in the logs of the APP all my information L

[2016-12-16 14:40] Jaco97 commented on #125
same problem here, it redirects me to the failure page

[2016-12-16 16:29] jannyHou commented on #125
@Jaco97 are you having this error with `loopback-example-passport` or your custom app?

[2016-12-16 18:05] danielmihai commented on #125
The problem is with the component itself, i modified the code in the node
module to make the app work as expected.

On Fri, Dec 16, 2016 at 6:29 PM, Janny <notifications@github.com> wrote:

[2016-12-19 20:04] skolesnyk commented on #19
@deskden , yes, having the same problem. I create users from their deviceIDs automatically, but when users connects through Facebook the new user is actually created. I've setup userCredentials correctly, but that table is empty, leading , obviously to a new user creation. I guess I should create userCredentials manually when I create a new user.

[2016-12-21 07:32] deksden commented on #19
@skolesnyk : IMHO, whole userCreditential thing is broken mess and should be removed ASAP.

[2016-12-21 11:41] Jaco97 commented on #125
@jannyHou  my app

[2016-12-27 22:40] BilalDja opened #199 "Expose Strategy before set it to passport!"
- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)

Hi, I found that the User access_token and oAuth2 access_token can be conflicture if they are used in the same location [body, query, header, path, etc], I digged in the code I found that the passport configurator returns the strategy after it chain it to passport!
I suggest that You let us make this chaini

[2017-01-05 18:12] jeisinge commented on #123
I too am having baffling results with `User.findOrCreate()`.  In particular, it appears that the function _always_ attempts to create a new user.

My code is based off of https://github.com/strongloop/loopback-example-passport , I have added `server/boot/find-or-create-user.js` with the following:

[code]

It's failing.  I am relatively new to Node.js and definitely new to LoopBack, so my syntax a

[2017-01-12 20:55] ataft commented on #63
+1
I want to add User role mappings to the response. There's a lot going on in the defaultCallback(), so don't think it's a great idea to rewrite that in the customCallback(), but will if there's no other solution.

[2017-01-13 16:07] davidcheung commented on #158
if we provide option for user to customize the generatedEmail as a function would that be good enough?

something like https://github.com/strongloop/loopback-component-passport/blob/1d662c7ea8e68c1201bd1b5e7a7c821cc4f136ac/lib/models/user-identity.js#L58-L59
[code]

an example of what profile object
[code]

then user can do whatever they want to generate the email
[code]

cc @jannyHou @raymondfeng

[2017-01-13 21:12] davidcheung commented on #158
perhaps it doesn't need a patch at all, realized [`profileToUser`](https://github.com/strongloop/loopback-component-passport/blob/1d662c7ea8e68c1201bd1b5e7a7c821cc4f136ac/lib/models/user-identity.js#L126) function is already exposed to the user to be overridden, which would allow them to replace the userObject used to create the loopback User object themselves, [this test case](https://github.com/

[2017-01-14 06:22] andrehagemeier commented on #158
@davidcheung seems to be exactly what I need. I think this is a very common problem with loopback passport strategies, so maybe the documentation should explicitly spell out the option to override this function

[2017-01-16 21:43] davidcheung commented on #158
created https://github.com/strongloop/loopback.io/pull/249, can close again once merged

[2017-01-16 22:02] #158 closed

[2017-01-25 15:48] Freundschaft opened #201 "Integrate passport-jwt"
Hi there,

I am using https://github.com/themikenicholson/passport-jwt and want to use it together with loopback component passport, but apparently it's kind of hard to use it if I don't add another authscheme to loopback-component-passport.

I made a start by using https://github.com/gfnork/loopback-component-passport/commit/b073efdb7cc515c5904adf67f71a243166bf15e7

Am I mistaken there? Is that t

[2017-01-27 20:22] crandmck commented on #148
I addressed the above comments in https://loopback.io/doc/en/lb3/Third-party-login-using-Passport.html

[2017-01-27 20:22] #148 closed

[2017-02-01 21:15] jdschreck commented on #57
I have the following related problem...  We have multiple services using passport authentication
with LDAP.  Some use loopback and others don't.  If a user logs into a loopback project they get
both the session and the access token and things are good.  But if a user logs into a non-loopback
project first they obtain the passport session but not the access token.  Is there some way that
when the u

[2017-02-02 14:38] jdschreck commented on #57
I have made some progress on this by using the code suggested above to use res.cookie, however,
it does not work for the immediate call but rather for the next call.  I am presuming that this is
because setting in on res does not take effect until that response goes back to the browser and the
browser sends the new signed cookie with the the next request.  Any ideas on how I can get this to take e

[2017-02-03 12:53] TrevorPage commented on #65
@zschmid thanks ever so much for posting that.

I came here because what I am using LoopBack to build a backend for a native Android application, which is to offer the user the choice of logging in with Google. I was able to get as far as obtaining an OAuth2 auth code (by using the Google Sign-in Android library), which I could then use to pass to my LoopBack API's `/auth/google/callback?token=xxx

[2017-02-05 17:26] ZepAviator commented on #179
Did you ever come to a solution. I'd like to route all users into a common email. So, if you log in through facebook who's profile info has someuser@somedomain.com and then you create and validate an email that is someuser@somedomain.com - they both end up linked as the same account automatically.

[2017-02-05 19:56] danielmihai commented on #179
I modified the component myself. I keep it in github knowing that it's not a good practice. take a look at the loopback example from my account if you like to. Did this a while ago so I don't really remember what flow I implemented.

[2017-02-07 06:25] aswin5 commented on #164
+1

[2017-02-07 13:57] Cyperwu opened #206 "userIdentity model definition"
### Bug or feature request

- [ x ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
When I'm trying to use third party login,I found it strange that you got such code  in passport-configurator.js.60:
`if (!this.userIdentityModel.relations.user) {
    this.userIdentityModel.belongsTo(this.userModel, {as: 'user'});
  }
  if (!this.userCredentialModel.relations.us

[2017-02-07 14:56] jannyHou commented on #164
Could someone from @strongloop/sq-lb-epitome continue taking care of this issue? Not quite familiar with angular :( Thanks a lot.

[2017-02-10 18:30] smith64fx commented on #179
Really interested in this issue.

That's very important.

@danielmihai Why not go for a pull request?

[2017-02-11 07:33] smith64fx commented on #201
@Freundschaft
Your changes look goid.

Is it working or what are the problems exactly?

[2017-02-11 10:34] smith64fx commented on #19
Thanks @ernie58
Your solution is really awesome!

I think an option for the each provider like "sync": true/false would be also very great.

[2017-02-11 10:36] smith64fx commented on #80
The solution is very easy using hooks.

@ernie58 made a good solution to provide a stable sync between creds and identity:

https://github.com/strongloop/loopback-component-passport/issues/19#issuecomment-205258830

[2017-02-16 02:13] luncht1me commented on #99
@hackerunet can you post your solution in more detail please? The fact I can't get passport errors to bubble up into my loopback app is extremely frustrating. I have a validation error that I know is firing since I can console log it deep within the passport source code, but I cannot for the life of me get it up into an actual server response which I can then handle accordingly in my application.

[2017-02-16 02:38] luncht1me opened #209 "UserCredential is allowing links of a single account to multiple users. No way to catch errors."
I need some serious help here.

I have a problem, where I'm trying to link an OpenID to my user account.

It works fine, but thing is, I can then sign in as a different user and link that same OpenID account.

There is no validation or checking that a UserCredential is already linked with the same externalId to a different userId.

So, my thought was, why not just do `userCredentialModel.validates

[2017-02-16 03:22] hackerunet commented on #99
Im so sorry colin, cannot since i have abandon any effort to use
strongloop, i wasted too much time figuring out basic stuff. This simply
was messing up my productivity and i stopped using it. Best wishes there
are plenty of options out there that offers better solutions for software
development.
El 15/02/2017 22:13, "Colin (Johnson) Schmidt" <notifications@github.com>
escribió:

[2017-02-16 06:33] wprater commented on #49
looks like this was never resolved?

[2017-02-16 06:45] wprater commented on #95
any update on this one?  or is there a work around to allow a custom User model?

[2017-02-16 10:57] smith64fx commented on #99
@hackerunet
Really sad, that you stop using it.

We just made it work to have a social login/linking for our single page application.

Did you set options.failureRedirect to true?

[2017-02-16 17:20] luncht1me commented on #99
@smith64fx we've set `failureRedirect` to a url. The url does get hit when failure happens internally to passport.

You can see my issue in more detail here: #209

[2017-02-18 10:03] nickvanvynckt commented on #95
@wprater, use the "loopback-component-passport-c" package someone mentioned here before. This allows you to use custom User models!

[2017-02-22 14:01] Jcbobo88 commented on #125
@danielmihai  can you explain us when and how in order to obtain the same result( or if you can make a PR)?

[2017-02-22 14:05] danielmihai commented on #125
I will reply as soon as I get the time today or tomorrow. Pretty caught up. If You need it immediately, you could checkout my loopback prototype and use the passport component from the node modules folder. I will submit a pull request with the corrected flow since there are a lot of people who have asked for it.

Thanks,
Daniel M. Colceag

[2017-02-22 17:56] danielmihai commented on #179
@smith64fx Did it work?

I forked the official repository now and I've seen it diverged a lot (as it normally would do so). I tried preparing for a pull request moments ago. I merged my changes in the current loopback-2.x branch. I have to fix some parts again, because the unit tests fail. I'll investigate further when I have/make the time.

What's your status @smith64fx ? keep in touch

Thanks,
D

[2017-02-22 17:59] danielmihai commented on #125
Hi @Jcbobo88 ,

I forked the official repository now and I've seen it diverged a lot (as it normally would do so). I tried preparing for a pull request moments ago. I merged my changes in the current loopback-2.x branch. I have to fix some parts again, because the unit tests fail. I'll investigate further when I have/make the time.

Did you manage to make your passport flow work with the modified

[2017-02-22 18:02] Jcbobo88 commented on #125
Hi @danielmihai  ,
right now i'm using loopback 3.x  but i still have the issues, right now i'm moved on an other point of the facebook integration passport-facebook-token  but with an other issue,

i will try (as soon i can) to make passport-facebook link works
Thanks you

[2017-03-01 02:03] musghost commented on #83
I had a problem with the ```FacebookTokenStrategy``` strategy. The application threw this error message: ```InternalOAuthError: Failed to fetch user profile```. Browsing the code and writing a console.log to print the error I realized that it was caused by a ```GraphMethodException```. The console was logging this error: ```{ statusCode: 400,
  data: '{"error":{"message":"Invalid appsecret_proof p

[2017-03-01 07:57] skolesnyk commented on #83
@musghost , I think this option isn't required and if not set to true, it won't be used. You've probably first set 'Require App Secret' to YES in your Facebook app settings?

https://github.com/drudge/passport-facebook-token/pull/4/commits/d98bb85ddbd9d4624d45492308f86da2c2fb7376

[2017-03-09 05:29] developermhayden commented on #117
@skolesnyk Your question makes me think of the following:

Although I have yet to implement, I see a message when I start my loopback application that suggests setting:
logoutSessionsOnSensitiveChanges to true in server/config

The message states the following:

The user model "user" is attached to an application that does not specify
whether other sessions should be invalidated when a password or

[2017-03-09 21:52] Freundschaft opened #211 "add idtoken to useridentity for openid connect"
Its kind of annoying that for openid connect the idtoken is stored nowhere in the useridentity model.

only the accesstoken is stored, is there a reason for this behavior?

[2017-03-13 14:12] Freundschaft commented on #201
its working actually, just wanted someone to have a look and check if its useful for merge or not

[2017-03-13 16:02] raymondfeng commented on #201
@Freundschaft Would you like to contribute a PR?

[2017-03-14 12:47] Freundschaft commented on #201
can do, will need 2 weeks before I can get to it, but sure

[2017-03-15 12:41] AshanFernando opened #212 "Error when using Azure Active Directory B2C as identity provider in openid-connect"
- [x] Bug

### Description of feature (or steps to reproduce if bug)
Error when using Azure Active Directory B2C as identity provider in openid-connect, since it returning profile.oid instead of profile.id in response callback for openid-connect strategy

### Expected result
The code should handle
profile.id = profile.id || profile.oid;

### Actual result (if bug)
profile.id becomes undefined

[2017-03-17 11:45] johnshardman commented on #83
If Facebook is configured to have "Require App Secret" set to Yes, how do we pass the hashed appsecret_proof?

I tried the following, but get "Invalid appsecret_proof provided in the API argument" reported. I can turn off "Requires App Secret" and remove this code, but would like to get this working if possible.

                byte[] key = Encoding.ASCII.GetBytes(app_secret);
                byt

[2017-03-17 14:46] tmarshall commented on #120
I'm experiencing the same. I dug into it, and it's coming from [the passport-oauth2 utils method](https://github.com/jaredhanson/passport-oauth2/blob/master/lib/utils.js#L29).

`proto` shows https, while `tls` is false. Boils down to the site being proxied (through a load balancer, etc) - and it is not trusting the proxy, causing it to fall back to http.

The fix is to add `proxy: true` in the opt

[2017-03-31 05:32] FreakTheMighty commented on #17
@gopidon can you share what you figured out?

[2017-04-05 02:50] Cyperwu commented on #206
any update on this issue?

[2017-05-07 01:49] tamitutor opened #215 "UserIdentity.profileToUser(...) Not Setting To Email Returned By Facebook"
# Description/Steps to reproduce
I have a user in my user table that has an email associated with a Facebook account.  If they go to login with Facebook for the first time--after already having created a user account through local passport--the` UserIdentity.profileToUser(...)` function is not returning a [userObj](https://github.com/strongloop/loopback-component-passport/blob/master/lib/models/us

[2017-05-07 05:15] clockworkgr commented on #215
It's a security issue...

Assume you have a sensitive loopback service created (say a financial one)...

Your user has registered for it using a standard email auth providing his e-mail and a strong password he keeps very safe.

One day he leaves his PC unattended in the office to go get some coffee while logged in on facebook.

Some 3rd party visits your service through his browser, chooses log i

[2017-05-07 05:16] clockworkgr commented on #215
Linking should only work IF the user is already logged in to his "main" account

[2017-05-08 19:31] regevbr commented on #174
+1

[2017-05-12 05:30] michaelerobertsjr opened #216 "Passport with Github: Error: cookieParser("secret") required for signed cookies"
Using passport and github to auth, seems like there is a bug and the middleware is not setting the secret cookie correctly.

# Description/Steps to reproduce

Attempt to login using link to login with github.  User will be redirected to github, authorize the app and the callback redirects back to the loopback site.  Then an error is thrown and the user is not logged in.  Server shows an error mess

[2017-05-20 15:13] paulcedrick commented on #201
Is this already integrated in the repository? :)

[2017-05-24 07:12] vinothmoorthkumar opened #218 "Unauthorized error, more then one login attempt redirecting to failureRedirect"
First attempt i got a access token. when i trying to login again or more then one its returning unauthorized error,

provider.json

{
    "ldap": {
        "provider": "ms-ad",
        "authScheme": "ldap",
        "module": "passport-ldapauth",
        "authPath": "/auth/ldap",
        "successredirect": "/auth/account",
        "failureRedirect": "/failure",
        "session": false,
        "Ld

[2017-05-27 18:05] tamitutor commented on #215
Thank you for relating the security issues surrounding this but how does this help me re-auth a user that's already in the db?  It doesn't--it creates a new user and now my data is corrupt.

[2017-06-01 18:27] Sigfried commented on #216
Did you figure it out? I need to use github also and I'm running into the same issue.

[2017-06-11 00:23] huyanhh commented on #174
+1

[2017-06-14 14:48] vinzentt opened #220 "Cannot mix email and username to log in"
# Description/Steps to reproduce

- use local provider with usernameField equals username, setAcessToken option to true
- pass to api in req body {username: "myemail@example.org", password: "myRightPassword"}
- got error "Cannot create access token" ie "LOGIN_FAILED"

# Expected result

200 http code containing an access_token and userId

# Additional information

[2017-06-14 20:47] chernomord commented on #193
I was searching for the answer too and looks like found a solution.

In the provider configuration you could add field `"session":false`, it would tell the component to add access-token and user-id parameters to the success callback URL

Hope it will help

[2017-06-15 12:48] jmereaux commented on #216
Try to replace:
`app.middleware('session:before', cookieParser(app.get('cookieSecret')));`
by
`app.middleware('session:before', cookieParser('yourSecretKeyForCookies));`

[2017-07-03 14:20] haotangio commented on #161
Hi all,

Any update for this issue?
The library is quite useful but this issue is very annoying.

[2017-08-08 12:20] timowolf opened #226 "Picking random user identity if profile.id or profile.openId is not set"
# Description/Steps to reproduce
When using a provider that sends profile information with missing id or open id attribute, while having already some UserIdentities in the database, a random and often wrong user identity is returned by the `findOne()` query. Thus, you login as a different user.

Line 106 in user-identity.js
[code]

If profile.id is undefined, the query parameter is removed and any

[2017-08-09 14:24] tootle-s commented on #174
+1

[2017-08-10 14:15] raul26 commented on #174
+1

[2017-08-11 14:06] #117 closed

[2017-08-23 18:27] AshanFernando commented on #212
The PR is merge as a fix. so closing the issue.

[2017-08-23 18:27] #212 closed

[2017-08-24 08:27] timoa opened #228 "Integration of auth by API Key / lifetime token"
# Description/Steps to reproduce
Currently, I'm working on an API project that uses `loopback-component-passport` to signup/login with Github from the frontend.

I would like to provide an API Key to the users that will consume the API (HTTP header or URL argument) available in the frontend after they are authenticated.

The users will not consume the API directly but thru the [Mashape API Marketp

[2017-08-25 08:11] demonVibe commented on #174
+1

[2017-08-25 13:57] sbechet opened #229 "buildUserLdapProfile() patch"
Hello @superkhau  @raymondfeng and @nicolas-moteau

I propose to directly decode objectGUID and objectSid from Active Directory as UUID as they may be useful for mapping an externalID?

We must test string length because objectSid can be smaller for very specific CN (CN=Builtin ; CN=ForeignSecurityPrincipals, ...)

I add passportjs contact schema compatibility.

[code]

[2017-08-29 12:11] jayasrinagrale commented on #56
Any recent updates on this guys?

[2017-08-29 17:07] hackerunet commented on #164
A year later and no further comments nor any suggestions or answers, this is why I stop using strongloop, don't know how it is sponsored by IBM but they don't take care of the community.
Regards.

[2017-08-29 17:07] #164 closed

[2017-09-06 14:57] #102 closed

[2017-09-06 14:57] #65 closed

[2017-09-06 14:57] #209 closed

[2017-09-06 14:57] #211 closed

[2017-09-06 14:57] #196 closed

[2017-09-06 14:57] #199 closed

[2017-09-06 14:57] #131 closed

[2017-09-06 14:57] #189 closed

[2017-09-06 14:57] #185 closed

[2017-09-06 14:57] #176 closed

[2017-09-06 14:57] #171 closed

[2017-09-06 14:57] #145 closed

[2017-09-06 14:57] #160 closed

[2017-09-06 14:57] #152 closed

[2017-09-06 14:57] #98 closed

[2017-09-06 14:57] #63 closed

[2017-09-06 14:57] #52 closed

[2017-09-06 14:57] #92 closed

[2017-09-06 14:57] #90 closed

[2017-09-06 14:57] #58 closed

[2017-09-06 14:57] #206 closed

[2017-09-06 14:57] #201 closed

[2017-09-06 14:57] #218 closed

[2017-09-06 14:57] #215 closed

[2017-09-06 14:57] #220 closed

[2017-09-06 14:57] #193 closed

[2017-09-06 14:57] #14 closed

[2017-09-06 14:57] #216 closed

[2017-09-06 14:58] #126 closed

[2017-09-06 14:58] #134 closed

[2017-09-06 14:58] #143 closed

[2017-09-06 14:58] #120 closed

[2017-09-06 14:58] #124 closed

[2017-09-06 14:58] #130 closed

[2017-09-06 14:58] #129 closed

[2017-09-06 14:58] #79 closed

[2017-09-06 14:58] #80 closed

[2017-09-06 14:58] #55 closed

[2017-09-06 14:58] #73 closed

[2017-09-06 14:58] #48 closed

[2017-09-06 14:58] #49 closed

[2017-09-06 14:58] #47 closed

[2017-09-06 14:58] #122 closed

[2017-09-06 14:58] #123 closed

[2017-09-06 14:58] #177 closed

[2017-09-06 14:58] #125 closed

[2017-09-06 14:58] #159 closed

[2017-09-06 14:58] #83 closed

[2017-09-06 14:58] #173 closed

[2017-09-06 14:58] #167 closed

[2017-09-06 14:58] #179 closed

[2017-09-06 14:58] #26 closed

[2017-09-08 05:28] deksden commented on #80
@BerkeleyTrue : Not a problem with proper flow.

When you use some social network (o-auth provider) to login and can not identify user as new or current - just make clear statement on this. If social network did not provide any email and you want to use email as user identifier - just add a step to sign-up to provide/confirm email. If user will provide email for current account, link them (maybe a

[2017-09-08 05:51] BerkeleyTrue commented on #80
This was considered but this adds a ton of friction for new users

That was the point of this issue

[2017-09-08 06:26] deksden commented on #80
@BerkeleyTrue :

Then product designers should consider: what make more friction for users - one more step for sign-up process or merging accounts later.

IMHO, merging accounts looks better.

[2017-09-09 03:17] charsi opened #230 "The `ApplicationCredential` instance is not valid. Details: `provider` can't be blank"
I am getting the following error when trying to authenticate via fb or twitter (haven't tried other methods).

`422 The 'ApplicationCredential' instance is not valid. Details: 'provider' can't be blank`

The app credentials are definitely working because at /auth/facebook I am redirected to fb for logging in.  I get the error after being redirected to the callback URL.

[2017-09-10 04:40] #230 closed

[2017-09-11 16:37] bajtos commented on #57
@michaelfreund I don't think this is related to loopback-context. I skimmed through the comments above and my understanding is that local login/logout endpoints are not setting/clearing the authentication cookie correctly. The built-in User model (`/api/users/login`) does not set cookies, this is by current design. If there are different endpoints provided by loopback-component-passport and they a

[2017-09-15 05:47] michaelfreund commented on #57
@bajtos That is correct. I know that the built-in model does not support cookie handling. Remote methods are also difficult to get up and running. We have been working on a solution that allows you to define a custom callback for Local Auth without breaking existing applications. We will also send a separate pull request for the email verification problem using a custom email verification callback

[2017-09-15 07:04] michaelfreund commented on #57
@bajtos Pull request sent. We have also added two examples of how to use the callbacks.

- Enable custom callback for local auth strategy (Example https://gist.github.com/michaelfreund/edc147f1abefb39753496856306aa076)
- Enable custom callback for local auth email verification (Example https://gist.github.com/michaelfreund/412091675d36a04eb0dfdbb0c8d22ec6)

[2017-09-15 07:10] michaelfreund commented on #57
#161

[2017-09-15 13:05] sbechet commented on #229
Can anyone look this patch? It is useful for active directory (AD) compatibility.

[2017-09-15 15:41] #161 closed

[2017-09-25 14:43] nicolas-moteau commented on #229
Hello,
The best way to have your patch integrated is to use a pull request.
You can have a look to theses 2 documents that describe the process.
http://loopback.io/contributing/
https://github.com/strongloop/loopback-component-passport/blob/master/CONTRIBUTING.md

Hope this helps

[2017-10-08 18:33] timowolf commented on #226
@raymondfeng Any comments about this issue?

[2017-10-12 10:16] sbechet commented on #174
Do you do /auth/local or /auth/ldap before /link ?

[2017-10-12 10:29] sbechet commented on #174
For `/auth/local` in `middleware.json`, don't forget

[code]

[2017-10-13 10:25] ThatGuyFromFinland commented on #57
I think I have managed to find a solution, which does not require forking any node modules or adding shady hacks.

The problem here is, that 3rd party authentications will use callbacks, while in the LoopBack examples, the Passport local authentication is misimplemented.

The correct way to implement it, is to POST request to the "/auth/local/callback" directly, instead of POSTing to "/auth/local"

[2017-10-20 06:01] michaelfreund commented on #19
@superkhau this issue should not be closed, as users are still facing problems because documentation and behavior is still confusing. @ernie58 I like your solution.

[2017-10-20 17:35] superkhau commented on #19
@michaelfreund Thanks for bringing up the issue, it looks like the bot automatically closes now (I'm on another project ATM), @kjdelisle can help you guys out on the above.

[2017-10-21 09:52] aparraga commented on #19
There is missing the attribute definition userId in user identity:

[code]

Otherwise, loading the user identity from database will contain the userId under __data, but not as an attribute of the active record, so the line 1533 of relation-definition won't generate the right where since it will ask for the modelInstance[fk] which is the userIdentify.userId, and since userId is not an attribute it

[2017-11-02 17:22] ataft commented on #100
Has anyone figured out an easy way to do this? It seems that @gausie moved away from loopback passport in favor of /api/users/login. Others (as per [this ](https://gitter.im/strongloop/loopback?at=55074cdd67cfef4f51e2345e)gitter) moved away from loopback passport to just using passport directly.

I like the idea of using loopback's passport module, so hopefully this can be addressed. As per the gi

[2017-11-02 17:50] ataft commented on #57
Would love to see @jamesjjk fork integrated in. In addition to this issue, it also adds/fixes customCallback to the local login, which is needed.
[code]

[2017-11-06 09:08] #228 closed

[2017-11-08 14:29] encima commented on #226
I am experiencing the same issue here upon updating. An exception here would make much more sense and seems like a pretty big security flaw.

[2017-11-11 13:06] #56 closed

[2017-11-20 13:51] mien commented on #174
+1

[2017-12-08 16:02] #229 closed

[2018-01-03 10:31] taimoor736 opened #238 "passportConfigurator.setupModels() is not working with my custom userModel."
What i did is copied the server.js file from this repo [loopback-example-passport](https://github.com/strongloop/loopback-example-passport) and just changed the userModel to my custom model. When i hit the /auth/facebook route its not creating the user inside my custom model but instead create a user in Default User model provided by loopback.
Please help me out.

[2018-01-04 11:46] xuanyue202 opened #239 "options.callbackHTTPMethod can only be set to "post" or "get""
# Description/Steps to reproduce

options.callbackHTTPMethod can only be set to post or get. It is desirable if I can set it to "all".

Please see https://github.com/strongloop/loopback-component-passport/blob/7a0e5d28bbf1183e37e4d00a178fd27210264984/lib/passport-configurator.js#L216

[2018-01-08 14:23] timowolf commented on #226
@raymondfeng Any comments about this issue?

[2018-01-15 20:22] #57 closed

[2018-01-17 15:05] percenuage commented on #226
Hello, I have made a [PR](https://github.com/strongloop/loopback-component-passport/pull/242) to fix this problem. The problem was these lines (97) in *user-identity.js* :

[code]

We need to add a custom *profileToUser* in **providers.js** :

[code]
Do you have any suggestions for improvements?

[2018-02-02 16:59] #174 closed

[2018-02-13 09:51] gbhipolitoglyph commented on #60
so how to set successRedirect programmatically?
thanks

[2018-02-21 16:06] jt-nti opened #245 "Missing loopback dependency"
# Description/Steps to reproduce

I think _loopback_ should be in _dependencies_ rather than _devDependencies_

# Link to reproduction sandbox

[code]

Fails with _Error: Cannot find module 'loopback'_ when _loopback_ is in _devDependencies_ but works as expected when it's in _dependencies_

# Additional information

`darwin x64 8.9.1`

`└── loopback-component-passport@3.4.1`

[2018-02-24 00:32] #19 closed

[2018-03-18 11:17] #238 closed

[2018-03-19 09:38] encima commented on #226
I would recommend to leave this open until the proposed PR has been accepted.

[2018-03-19 12:59] #239 closed

[2018-03-21 20:17] regevbr opened #248 "enable state in oauth2"
OAuth2 supports passing a state so it can be passed back to the callback.
This is very useful if you are using for example facebook signup on your web page and want to pass utm data for example so you can understand how the user came about your site.

The way to achieve this flow, there is a need to be able to configure a method that will read the authPath query params from the request and extract

[2018-05-21 05:36] tom-miseur commented on #238
The advice posted on the official Loopback documentation recommends extending the built-in models, yet this component requires a lot of modifications in order for that to be made possible, despite appearing to support model extensions via _setupModels()_.

Furthermore, the concept of "linking" accounts doesn't match what I think most people's assumptions would be with it, that is to say, having a

[2018-06-01 10:30] #226 closed

[2018-06-01 11:29] xuanyue202 opened #257 "Does not support eternal Access Token with ttl=-1"
# Description/Steps to reproduce

In Loopback, eternal Access Token's TTL value is -1. It is apparent that when ttl = -1, the following code (and the similar places in the same file) gives invalid maxAge. As a result, the access_token cookie is regarded as expired on client side and never be set. The client see Unauthorized.

https://github.com/strongloop/loopback-component-passport/blob/59cc03aa3

[2018-06-03 21:17] #248 closed

[2018-06-13 16:15] lowell-list commented on #95
My custom User model (named PortalUser) is now being auto-created by `loopback-component-passport` with these two steps:

1) pass custom PortalUser model to `passportConfigurator.setupModels()`:
[code]

2) set the "belongsTo" relations of UserIdentity and UserCredential to point to PortalUser instead of User:
[code]

[2018-06-13 16:30] jonathan-casarrubias commented on #95
lol almost 3 years and same problems? that is why I decided to stop using loopback.. good luck guys

[2018-06-16 19:49] kgrvamsi opened #258 "Swagger Documentation for Thirdparty auth api's for LDAP"
How can we enable the thirdparty LDAP authentication api's shown in the Swagger Documentation?Any work around for this?

[2018-06-18 17:54] dhmlau commented on #258
@kgrvamsi , have you checked out the following tutorials?
https://loopback.io/doc/en/lb3/Tutorial-third-party-login.html#tutorial---ldap
https://developer.ibm.com/recipes/tutorials/configuring-tokenbased-ldap-authentication-with-loopback-io-2/

[2018-06-18 18:06] kgrvamsi commented on #258
@dhmlau Thanks for your response and i can implement everything that is been provided in the above two tutorial links but my question is more on how i can make the /auth/ldap route available over Swagger docs?

[2018-06-22 20:03] dhmlau commented on #258
I'm not very familiar with LDAP.
@bajtos @raymondfeng , could you please help?  Thanks.

[2018-06-24 19:00] regevbr opened #261 "when credentials are being updated, they delete the refresh token"
# Steps to reproduce

1. user logins for the first time (using google for example)
2. credentials field saves the refresh token and access token (given that an offline access scope was requested)
3. user logins again
4. the userIdentity and userCredentials models are performing an update to the credentials field, which now doesn't include the refresh token (refresh token in google is given only on

[2018-06-27 09:20] DOSarrest opened #263 "Support for alternative Passport Strategies"
# Description

This is a feature request accompanied with code and explanation. I was able to obtain this functionality rather easily with minimal code, but implementation could be elaborated further perhaps.

First by adding the following case statement to the switch statement located at [lib/passport-configurator.js#L296](https://github.com/strongloop/loopback-component-passport/blob/master/lib/

[2018-06-27 09:29] jt-nti commented on #245
Waiting for review on PR #252

[2018-06-29 05:07] virkt25 commented on #263
@DOSarrest Would you be able to submit a PR with the code changes and accompanying tests / docs for this feature?

cc: @bajtos you've done work with authentication. thoughts on this proposal?

[2018-06-29 14:36] bajtos commented on #263
I am afraid I am not familiar with loopback-component-passport at all. I assumed it's just a thin wrapper around passportjs.org, but judging from the code seen in `lib/passport-configurator.js`, it's much more involved.

Having said that, I think we should allow users to configure custom authentication/authorization strategies, especially since Passport supports custom strategies too (see e.g. htt

[2018-07-04 06:05] DOSarrest commented on #263
Before doing any kind of PR I figured this idea should be discussed first to determine of the implementation provided is adequate or if another approach would be more ideal. This implementation appears to work well for our purposes, but perhaps with some additional input an even better implementation could be made as I am not very familiar with all of the internals.

Currently the aforementioned c

[2018-07-09 22:28] DOSarrest commented on #263
No input so far, should I look at doing a PR? Also, I didn't see any where to document this specifically. There is a reference pointing to the [official doc page](https://loopback.io/doc/en/lb3/Third-party-login-using-Passport.html) but I did not see anything else.

[2018-07-16 15:05] virkt25 commented on #263
That would be the correct page to document this -- or you can create a new page in `loopback.io`.

cc: @raymondfeng

[2018-07-16 19:57] malenage commented on #201
Hi @Freundschaft, do you have an example of passport-jwt integrated to loopback-component-passport, i could not find any examples out there. Thanks!

[2018-07-28 08:44] lbcsy commented on #83
@hristo-vrigazov, have you been able to use passport-google-token yet? If yes, could you share with me?

[2018-08-21 19:36] DOSarrest commented on #263
Documentation has been updated and a pull request has been added.
https://github.com/strongloop/loopback.io/pull/729
An example custom strategy was made to check/verify functionality.
https://www.npmjs.com/package/loopback-passport-custom-strategy-example
Only thing left should be to add a test which I am looking into now before adding a pull request.

[2018-08-21 19:46] DOSarrest commented on #263
Added pull request https://github.com/strongloop/loopback-component-passport/pull/265

[2018-08-21 19:51] DOSarrest commented on #263
If anything additional is required on my part, please let me know.

[2018-08-21 21:36] DOSarrest commented on #263
There was some problems with the checks due to requiring git rebase and a comment that was longer than 50 characters. I have resolved them and everything should be good to go now.

[2018-08-21 21:43] DOSarrest commented on #263
@virkt25 can you take a look at the changes and let me know if there is anything else you would like done or if PR is satisfactory.

[2018-08-26 11:08] orszaczky opened #266 "How to link the same user's accounts (same email) instead of duplicating it?"
Hello, I cloned the loopback-example-passport repo, and set it up for local and facebook login. I have 2 use cases where the library acts differently than I would expect.

When I create a local account with username and email `{id:1, email: test@email.com}`, I can link my FB account to it, and it gets stored in the db under userCredentials.
Then i try to log in with FB, and instead of logging me i

[2018-08-31 13:34] skanygin commented on #95
@jonathan-casarrubias what are you using instead of it?

[2018-09-01 00:58] DOSarrest commented on #263
@virkt25 have not received a response on latest responses of pull requests, are you able to pull some
weight and help move this forward?

[2018-09-03 12:41] bajtos commented on #263
weight and help move this forward?

FYI: most people don't receive notifications when a new commit is added to a pull request. It's best to post a comment when you have more or new code to review. I'll ping @raymondfeng and ask him to take another look at your patch #265

[2018-09-04 20:54] DOSarrest commented on #263
@bajtos Thanks, I did post a new comment with @raymondfeng tagged. I received a response today about an hour ago and have since responded as per requested by @raymondfeng .

[2018-09-07 14:14] rajkaran opened #267 "ms-ad not getting all groups user is memberOf"
I am not sure if this qualifies for a bug.

Below is my providers.json
[code]
This is the a snippet from passport-configurator.js (line 145)
[code]

As you can see in searchAttributes I do not have _groups and we do not uses this in our AD installation instead of _groups we have memberOf. Due to this `if` condition we never gets the complete memberOf array.

Can memberOf be added to this condition

[2018-09-07 17:44] rajkaran commented on #95
@lowell-list
This doesn't work for me
`"foreignKey": "portalUserId"`

have to change it to `"foreignKey": "userId"` because of
[code]

[2018-09-08 14:51] lowell-list commented on #95
@rajkaran - you are correct; I reviewed my code and discovered that I later changed `"foreignKey"` to `"userId"` in both portal-user-credential.json and portal-user-identity.json because I encountered the same issue you did. I updated my previous post with `"userId"` to help the next person.

[2018-09-10 22:50] DOSarrest commented on #263
@raymondfeng awaiting response in PR from you